<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            //导航切换
            $(".menuson li").click(function(){
                $(".menuson li.active").removeClass("active");
                $(this).addClass("active");
            });
            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('ul').slideUp();
                if($ul.is(':visible')){
                    $(this).next('ul').slideUp();
                }else{
                    $(this).next('ul').slideDown();
                }
            });
        })
    </script>
</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>系统配置管理</div>

<dl class="leftmenu">
    <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 31}"-->
    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 31}">
        <div class="title">
            <span><img src="/images/leftico04.png" /></span>用户信息管理
        </div>
        <ul class="menuson">
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 311}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 311}"><cite></cite><a href="/user/userManagement" target="rightFrame">用户信息管理</a><i></i></li>
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 407}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 407}"><cite></cite><a href="/department/departmentManagement" target="rightFrame">部门管理</a><i></i></li>
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 408}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 408}"><cite></cite><a href="/group/groupManagement" target="rightFrame">角色管理</a><i></i></li>
        </ul>
    </dd>

    <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 32}"-->
    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 32}">
        <div class="title"><span><img src="/images/leftico04.png" /></span>设备信息管理</div>
        <ul class="menuson">
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 321}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 321}"><cite></cite><a href="/Line/jumpToDevice" target="rightFrame">线路信息管理</a><i></i></li>
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 322}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 322}"><cite></cite><a href="/Station/trainManagement" target="rightFrame">列车信息管理</a><i></i></li>
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 409}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 409}"><cite></cite><a href="/devicePos/devicePosManagement" target="rightFrame">设备位置管理</a><i></i></li>
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 410}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 410}"><cite></cite><a href="/deviceType/deviceTypeManagement" target="rightFrame">设备类型管理</a><i></i></li>
            <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 411}"-->
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 411}"><cite></cite><a href="/deviceSpot/deviceSpotManagement" target="rightFrame">设备测点管理</a><i></i></li>
        </ul>
    </dd>

    <!--th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 33}"-->
    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 33}">
        <div class="title"><span><img src="/images/leftico04.png" /></span>直播素材管理</div>
        <ul class="menuson">
            <li><cite></cite><a href="/fodder/fodderManagement" target="rightFrame">直播素材管理</a><i></i></li>
        </ul>
    </dd>
</dl>
</body>
</html>