<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.DevicePosMapper">
    <select id="selectAllDevicePos" resultType="com.example.passenger.entity.DevicePos">
            SELECT
                *
            FROM
                Device_Pos
    </select>
    <select id="selectDevicePosByName" resultType="java.lang.Integer">
            SELECT
                count(*)
            FROM
                Device_Pos
            WHERE
                Name = #{name}
            <if test="id!=null">
                and id !=#{id}
            </if>
    </select>
    <select id="selectDevicePosById" resultType="com.example.passenger.entity.DevicePos">
            SELECT
                *
            FROM
                Device_Pos
            WHERE
                id=#{id}
    </select>

    <select id="selectDevicePosPaging" resultType="com.example.passenger.entity.DevicePos">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Device_Pos
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            Device_Pos
    </select>

    <insert id="addDevicePos" parameterType="com.example.passenger.entity.DevicePos">
        INSERT INTO Device_Pos
        VALUES
            (
                #{name},
                #{note},
            #{isEdit})
    </insert>
    <update id="updateDevicePos" parameterType="com.example.passenger.entity.DevicePos">
        UPDATE Device_Pos
        SET name = #{name},
        note=#{note}
        WHERE
            id =#{id}
    </update>
    <delete id="deleteDevicePos" parameterType="java.lang.Integer">
        DELETE
        FROM
            Device_Pos
        WHERE
            id =#{id}
    </delete>
</mapper>