<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.DeviceTypeMapper">
    <select id="selectAllDeviceType" resultType="com.example.passenger.entity.DeviceType">
            SELECT
                *
            FROM
                Device_Type
    </select>
    <select id="selectTypeByName" resultType="com.example.passenger.entity.DeviceType">
        SELECT
            *
        FROM
            Device_Type
        WHERE
            Name='播放控制器'
    </select>
    <select id="selectDeviceTypeById" resultType="com.example.passenger.entity.DeviceType">
        SELECT
            *
        FROM
            Device_Type
        WHERE
            id=#{id}
    </select>
    <select id="selectDeviceTypePaging" resultType="com.example.passenger.entity.DeviceType">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Device_Type
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            Device_Type
    </select>
    <select id="selectDeviceTypeByName" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            Device_Type
        WHERE
            Name = #{name}
        <if test="id!=null">
            and id !=#{id}
        </if>
    </select>
    <insert id="addDeviceType" parameterType="com.example.passenger.entity.DeviceType">
        INSERT INTO Device_Type
        VALUES
            (
                #{name},
                #{dllName},
                #{isCtrl},
                #{hasVolume},
            #{note})
    </insert>
    <update id="updateDeviceType" parameterType="com.example.passenger.entity.DeviceType">
        UPDATE Device_Type
        SET name = #{name},
        isCtrl=#{isCtrl},
        hasVolume=#{hasVolume},
        note=#{note}
        WHERE
            id =#{id}
    </update>
    <delete id="deleteDeviceType" parameterType="java.lang.Integer">
        DELETE
        FROM
            Device_Type
        WHERE
            id =#{id}
    </delete>
</mapper>