<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.DevRepairMapper">
    <select id="selectDevRepairByEndTimeIsNull" resultType="com.example.passenger.entity.DevRepair">
        SELECT
            *
        FROM
            DevRepair
        WHERE
            EndTime IS NULL
    </select>
    <select id="selectDevRepairByEndTimeNotNull" resultType="com.example.passenger.entity.DevRepair">
        SELECT TOP
        (#{pageSize}) *
        FROM
            (
            SELECT
                ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
            FROM
                DevRepair
			WHERE
				EndTime IS NOT NULL
            ) AS A
        WHERE
            RowNumber > #{pageSize} * (
            #{pageNum}-1)

    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT
            count(*)
        FROM
            DevRepair
		WHERE
			EndTime IS NOT NULL
    </select>
    <insert id="addDevRepair" parameterType="com.example.passenger.entity.DevRepair">
        INSERT INTO DevRepair
        VALUES
            (
            #{deviceID},
            #{accendant},
            #{tel},
            #{startTime},
            #{endTime},
            #{note},
            #{scheme},
            #{repairResult},
            #{stationID},
            #{lineID})
    </insert>
    <update id="updateDevRepair" parameterType="com.example.passenger.entity.DevRepair">
        UPDATE DevRepair
        SET EndTime =#{endTime},
        RepairResult =#{repairResult}
        WHERE
            id =#{id}
    </update>

</mapper>