<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.FodderMapper">
    <select id="selectAllFodder" resultType="com.example.passenger.entity.Fodder">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Fodder
        WHERE
        Type =4
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            Fodder
        WHERE
            type =4
    </select>
    <select id="selectAllFodderMaterial" resultType="com.example.passenger.entity.Fodder">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Fodder
        WHERE
        Type NOT IN ( 4 )
        <if test="type!=null">
            and Type=#{type}
        </if>
        <if test="state!=null">
            and State=#{state}
        </if>
        <if test="name!=null and name!=''">
            and Name=#{name}
        </if>
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="selectAllFodderMaterialCount"  resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        Fodder
        WHERE
        Type NOT IN (4)
        <if test="type!=null">
            and Type=#{type}
        </if>
        <if test="state!=null">
            and State=#{state}
        </if>
        <if test="name!=null and name!=''">
            and Name=#{name}
        </if>
    </select>
    <select id="selectFodderByType" resultType="com.example.passenger.entity.Fodder">
        SELECT
           *
        FROM
        Fodder
        WHERE Type=#{type}
    </select>
    <select id="selectFodderByID" resultType="com.example.passenger.entity.Fodder">
        SELECT
           *
        FROM
        Fodder
        WHERE id=#{id}
    </select>
    <insert id="addFodder" parameterType="com.example.passenger.entity.Fodder">
        INSERT INTO Fodder
        VALUES
            (
                #{name},
                #{type},
                #{path},
                #{size},
                #{state},
                #{editorID},
                #{editTime},
                #{resolution},
                #{timeLength},
                #{note},
                #{guid},
            #{md5})

    </insert>
    <update id="updateFodder" parameterType="com.example.passenger.entity.Fodder">
        UPDATE Fodder
        SET name =#{name},
        Path=#{path},
        Note=#{note}
        WHERE
            id =#{id}
    </update>
    <update id="updateFodderState" parameterType="java.lang.Integer">
        UPDATE Fodder
        SET State=#{state}
        WHERE
            id =#{id}
    </update>
    <delete id="deleteFodder" parameterType="java.lang.Integer">
        DELETE
        FROM
            Fodder
        WHERE
            id =#{id}
    </delete>
</mapper>