<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.LineStandbyMapper">
    <select id="selectAllLineStandby" resultType="com.example.passenger.entity.vo.LineStandbyVo">
        SELECT
        li.Name,
        statype.StandbyName,
        standby.id,
        standby.LineID,
        standby.StandbyType,
        standby.Available_Number,
        standby.Fault_Number,
        standby.Reworking_Number,
        standby.Scrap_Number
        FROM
        LineStandby standby,
        Line li,
        StandbyType statype
        WHERE
        standby.LineID= li.ID
        AND standby.StandbyType= statype.id
        <if test="lineID!=null">
            AND standby.LineID=#{lineID}
        </if>
    </select>
    <select id="selectLineStandbyExist" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            LineStandby
        WHERE
            LineID = #{lineID}
            AND StandbyType =#{standbyType}
    </select>
    <insert id="addLineStandby" parameterType="com.example.passenger.entity.LineStandby">
        INSERT INTO LineStandby
        VALUES
        (
        #{lineID},
        #{standbyType},
        #{availableNumber},
        #{faultNumber},
        #{reworkingNumber},
        #{scrapNumber})
    </insert>
    <update id="updateLineStandby" parameterType="com.example.passenger.entity.LineStandby">
        UPDATE LineStandby
        SET Available_Number =#{availableNumber},
        Fault_Number =#{faultNumber},
        Reworking_Number =#{reworkingNumber},
        Scrap_Number =#{scrapNumber}
        WHERE
            id =#{id}
    </update>
    <delete id="deleteLineStandby" parameterType="java.lang.Integer">
        DELETE FROM LineStandby WHERE id =#{id}
    </delete>
</mapper>