<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.LineMapper">
<select id="selectLine" resultType="com.example.passenger.entity.Line">
        SELECT
          *
        FROM
            Line
        WHERE
            id =#{id}
</select>
<select id="selectAllLine"  resultType="com.example.passenger.entity.Line">
         SELECT
            *
         FROM
            Line
</select>
<select id="selectLineByName" resultType="java.lang.Integer">
    SELECT COUNT
        (*)
    FROM
        Line
    WHERE
        (LineID = #{lineID} OR Name =#{name})
    <if test="id!=null">
        and id !=#{id}
    </if>
</select>
<insert id="addLine" parameterType="com.example.passenger.entity.Line">
        INSERT INTO Line ( LineID, Name, En_Name, ServerIP, Des )
        VALUES
            (
                #{lineID},
                #{name},
                #{enName},
             #{serverIP},
             #{des})
</insert>
<update id="updateLine" parameterType="com.example.passenger.entity.Line">
        UPDATE Line SET LineID =#{lineID}, Name =#{name}, En_Name =#{enName},
        ServerIP =#{serverIP},
        Des =#{des}
        WHERE
            ID =#{id}
</update>
<delete id="deleteLine" parameterType="java.lang.Integer">
        DELETE
        FROM
            Line
        WHERE
            id =#{id}
</delete>
</mapper>