<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.MessageMapper">
    <select id="selectMessage" resultType="com.example.passenger.entity.Message">
        SELECT
          *
        FROM
            Message
        WHERE
            id =#{id}
    </select>
    <select id="selectMessageID" resultType="java.lang.Integer">
        SELECT TOP
            1 id
        FROM
            Message
        ORDER BY
            id DESC
    </select>
    <select id="getMessage" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        where
            Level = #{level}
            AND DeviceID=#{deviceID}
            AND PlayState=1
    </select>
    <select id="getMessageByDeviceID" resultType="java.lang.Integer">
        SELECT
            ID
        FROM
            Message
        WHERE
            DeviceID = #{deviceID}
            AND PlayState =1
    </select>
    <select id="getMessageByLevel" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        WHERE
            DeviceID = #{deviceID}
            AND PlayState =2
            AND  Level = #{level}
    </select>
    <select id="getMessageByIsPlanMsg" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        WHERE
           	CONVERT ( VARCHAR ( 10 ), GETDATE(), 120 ) >= StartDate
            and CONVERT ( VARCHAR ( 8 ), GETDATE(), 108 ) >EndTime
            AND State = 1
            AND PlayState =0
            and IsPlanMsg=1
    </select>
    <select id="getMaxLevel" resultType="java.lang.Integer">
        SELECT
	        max(b.[Level])
        FROM
            Message a,
            Msg_Level b
        where
            a.Level=b.LevelCode
            and a.DeviceID=#{deviceID}
            and (a.PlayState=1 or a.PlayState=2)
    </select>
    <select id="getRelease" resultType="java.util.LinkedHashMap">
        SELECT
          d.Name AS lineName,
          c.Name AS stationName,
          b.Name AS deviceName,
          a.Msg,
          a.StartDate,
          a.EndDate,
          a.StartTime,
          a.EndTime,
          a.Operator
        FROM
            Message a
            LEFT JOIN Device b ON a.DeviceID= b.ID
            LEFT JOIN Station c ON b.StationID= c.ID
            LEFT JOIN Line d ON b.LineID= d.ID
        WHERE
        convert(char(10),a.StartDate,20) between #{startDate} and #{endDate}
        <if test="lineID!=null">
            AND d.ID = #{lineID}
        </if>
        <if test="stationID!=null">
            AND c.ID = #{stationID}
        </if>
        <if test="deviceID!=null">
            AND b.ID = #{deviceID}
        </if>
    </select>
    <select id="selectPaging"  resultType="com.example.passenger.entity.vo.MessageVo">
        SELECT TOP (#{pageSize}) a.*,b.Name as deviceName,c.Name as stationName,d.Name as lineName
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Message
        WHERE
        <if test="playState!=2">
            PlayState=#{playState}
        </if>
        <if test="playState==2">
            (PlayState=#{playState} or PlayState=0)
        </if>
        <if test="state!=null">
           AND State=#{state}
        </if>
        <if test="msg!=null and msg!=''">
           AND Msg like '%'+#{msg}+'%'
        </if>
        ) AS a
        LEFT JOIN Device b on a.DeviceID=b.ID
        LEFT JOIN Station c on b.StationID=c.ID
        LEFT JOIN Line d on b.LineID=d.ID
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
        (*)
        FROM
        Message
        WHERE
            PlayState=#{playState}
        <if test="state!=null">
            AND State=#{state}
        </if>
        <if test="msg!=null">
           AND Msg like '%'+#{msg}+'%'
        </if>
    </select>
    <select id="messageStatistics" resultType="com.example.passenger.entity.vo.MessageVo">
        SELECT TOP (#{pageSize})d.Name as lineName,c.Name as stationName,b.Name as deviceName,a.Msg,
        a.StartDate,a.EndDate,a.StartTime,a.EndTime,a.Operator
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Message
        ) AS A
        LEFT JOIN Device b on a.DeviceID=b.ID
        LEFT JOIN Station c on b.StationID=c.ID
        LEFT JOIN Line d on b.lineID=d.ID
        WHERE
			convert(char(10),a.StartDate,20) between #{startDate} and #{endDate}
        <if test="lineID!=null">
            AND d.ID = #{lineID}
        </if>
        <if test="stationID!=null">
            AND c.ID = #{stationID}
        </if>
        <if test="deviceID!=null">
            AND b.ID = #{deviceID}
        </if>
        AND RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="countStatistics" resultType="java.lang.Integer">
        SELECT COUNT
        (*)
        FROM
        Message a
        LEFT JOIN Device b on a.DeviceID=b.ID
		LEFT JOIN Station c on b.StationID=c.ID
		LEFT JOIN Line d on b.lineID=d.ID
        WHERE
            convert(char(10),a.StartDate,20) between #{startDate} and #{endDate}
        <if test="lineID!=null">
            AND d.ID = #{lineID}
        </if>
        <if test="stationID!=null">
            AND c.ID = #{stationID}
        </if>
        <if test="deviceID!=null">
            AND b.ID = #{deviceID}
        </if>
    </select>
    <select id="selectMessageByPlanMsg" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        WHERE
            CONVERT ( VARCHAR ( 10 ), GETDATE(), 120 ) >= StartDate
            AND CONVERT ( VARCHAR ( 8 ), GETDATE(), 108 ) >= EndTime
            AND State = 1
            AND PlayState =1
    </select>
    <select id="selectMessageByStartTime" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        WHERE
            CONVERT ( VARCHAR ( 10 ), GETDATE(), 120 ) >= StartDate
            AND CONVERT ( VARCHAR ( 8 ), GETDATE(), 108 ) >= StartTime
            AND State = 1
            AND PlayState=0
    </select>
    <select id="selectMessageByEndTime" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        WHERE
            CONVERT ( VARCHAR ( 10 ), GETDATE(), 120 ) >= EndDate
            AND CONVERT ( VARCHAR ( 8 ), GETDATE(), 108 ) >= EndTime
            AND State = 1
            AND PlayState=1
    </select>
    <insert id="addMessage" parameterType="com.example.passenger.entity.Message">
        INSERT INTO Message
        VALUES
            (
                #{msg},
                #{state},
                #{playState},
             #{level},
             #{type},
             #{startDate},
             #{endDate},
             #{startTime},
             #{endTime},
             #{deviceID},
             #{ctrlID},
             #{operator},
             #{isPlanMsg})
    </insert>
    <update id="updateMessage" parameterType="java.lang.Integer">
        UPDATE Message SET
        <if test="state!=null">
            State =#{state}
        </if>
        <if test="state!=null and playState!=null">
            ,
        </if>
        <if test="playState!=null">
            PlayState=#{playState}
        </if>
        WHERE
            ID =#{id}
    </update>
    <delete id="deleteMessage" parameterType="java.lang.Integer">
        DELETE
        FROM
            Message
        WHERE
            id =#{id}
    </delete>
</mapper>