<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.MessageMapper">
    <select id="selectMessage" resultType="com.example.passenger.entity.Message">
        SELECT
          *
        FROM
            Message
        WHERE
            id =#{id}
    </select>
    <select id="selectMessageID" resultType="java.lang.Integer">
        SELECT TOP
            1 id
        FROM
            Message
        ORDER BY
            id DESC
    </select>
    <select id="selectPaging"  resultType="com.example.passenger.entity.Message">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Message
        <if test="playState!=null">
            WHERE
            PlayState=#{playState}
        </if>
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
        (*)
        FROM
        Message
        <if test="playState!=null">
            WHERE
            PlayState=#{playState}
        </if>
    </select>
    <select id="selectMessageByStartTime" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        WHERE
            CONVERT ( VARCHAR ( 10 ), GETDATE(), 120 ) >= StartDate
            AND CONVERT ( VARCHAR ( 8 ), GETDATE(), 108 ) >= StartTime
            AND State = 1
            AND PlayState=0
    </select>
    <select id="selectMessageByEndTime" resultType="com.example.passenger.entity.Message">
        SELECT
            *
        FROM
            Message
        WHERE
            CONVERT ( VARCHAR ( 10 ), GETDATE(), 120 ) >= EndDate
            AND CONVERT ( VARCHAR ( 8 ), GETDATE(), 108 ) >= EndTime
            AND State = 1
            AND PlayState=1
    </select>
    <insert id="addMessage" parameterType="com.example.passenger.entity.Message">
        INSERT INTO Message
        VALUES
            (
                #{msg},
                #{state},
                #{playState},
             #{level},
             #{type},
             #{startDate},
             #{endDate},
             #{startTime},
             #{endTime},
             #{deviceID},
             #{ctrlID},
             #{operator},
             #{isPlanMsg})
    </insert>
    <update id="updateMessage" parameterType="java.lang.Integer">
        UPDATE Message SET
        <if test="state!=null">
            State =#{state}
        </if>
        <if test="playState!=null">
            PlayState=#{playState}
        </if>
        WHERE
            ID =#{id}
    </update>
    <delete id="deleteMessage" parameterType="java.lang.Integer">
        DELETE
        FROM
            Message
        WHERE
            id =#{id}
    </delete>
</mapper>