<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.PlayListScopeMapper">
    <select id="selectPlayListScope" resultType="com.example.passenger.entity.PlayListScope">
        SELECT
          *
        FROM
            Play_List_Scope
        WHERE
            List_ID =#{id}
    </select>
    <select id="selectPaging"  resultType="com.example.passenger.entity.PlayListScope">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Play_List_Scope
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            Play_List_Scope
    </select>
    <insert id="addPlayListScope" parameterType="com.example.passenger.entity.PlayListScope">
        INSERT INTO Play_List_Scope
        VALUES
            (
                #{listID},
                #{devicePos},
                #{stationCode},
                #{lineCode})
</insert>
    <update id="updatePlayListScope" parameterType="com.example.passenger.entity.PlayListScope">
        UPDATE Play_List_Scope SET List_ID =#{listID}
        WHERE
            List_ID =#{listID}
</update>
    <delete id="deletePlayListScope" parameterType="java.lang.Integer">
        DELETE
        FROM
            Play_List_Scope
        WHERE
            List_ID =#{id}
</delete>
</mapper>