<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.PlayStyleMapper">
    <select id="selectPlayStyle" resultType="com.example.passenger.entity.PlayStyle">
        SELECT
          *
        FROM
            Play_Style
        WHERE
            id =#{id}
    </select>
    <select id="selectPlayStyleID" resultType="java.lang.Integer">
        SELECT TOP
            1 id
        FROM
            Play_Style
        ORDER BY
            id DESC
    </select>
    <select id="selectPaging"  resultType="com.example.passenger.entity.PlayStyle">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Play_Style
            WHERE
            IsTemplate = #{isTemplate}
            <if test="state!=null">
                AND State =#{state}
            </if>
            <if test="name!=null">
                AND Name like '%'+#{name}+'%'
            </if>
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            Play_Style
            WHERE
            IsTemplate = #{isTemplate}
            <if test="state!=null">
                AND State =#{state}
            </if>
            <if test="name!=null">
                AND Name =#{name}
            </if>
    </select>
    <insert id="addPlayStyle" parameterType="com.example.passenger.entity.PlayStyle">
        INSERT INTO Play_Style
        VALUES
            (
                #{name},
                #{path},
                #{state},
                #{isTemplate},
                #{editorID},
                #{editTime},
                #{contentText},
                #{note})
</insert>
    <update id="updatePlayStyle" parameterType="com.example.passenger.entity.PlayStyle">
        UPDATE Play_Style SET State =#{state},Note =#{note}
        WHERE
            ID =#{id}
</update>
    <update id="updatePlayStyleContent">
        UPDATE Play_Style SET ContentText =#{content}
        WHERE
            ID =#{id}
    </update>
    <delete id="deletePlayStyle" parameterType="java.lang.Integer">
        DELETE
        FROM
            Play_Style
        WHERE
            id =#{id}
</delete>
    <insert id="comAddPlayStyle" parameterType="java.lang.String">
        ${sql }
    </insert>
    <select id="selectContent" resultType="java.util.LinkedHashMap">
        ${sql }
    </select>
</mapper>