<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.PlayListClientMapper">
    <select id="selectPlayListClient" resultType="com.example.passenger.entity.PlayListClient">
        SELECT
          *
        FROM
            Playlist_Client
        WHERE
            id =#{id}
    </select>
    <select id="selectPlayListClientBySequence" resultType="com.example.passenger.entity.PlayListClient">
        SELECT
          *
        FROM
            Playlist_Client
        WHERE
            Sequence =0
        AND ClientID=#{clientID}
    </select>
    <select id="selectPaging"  resultType="com.example.passenger.entity.PlayListClient">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        Playlist_Client
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            Playlist_Client
    </select>
    <select id="selectClientByPlayListID" resultType="java.lang.Integer">
        SELECT COUNT (*) FROM Playlist_Client WHERE PlaylistID =#{playListID}
        AND ClientID =#{clientID}
    </select>
    <select id="selectClientByPlayID" resultType="java.lang.Integer">
        SELECT
            id
        FROM
            Playlist_Client
        WHERE
            PlaylistID = #{playID}
            AND ClientID =#{clientID}
    </select>
    <insert id="addPlayListClient" parameterType="com.example.passenger.entity.PlayListClient">
        INSERT INTO Playlist_Client
        VALUES
            (
                #{playlistID},
                #{clientID},
                #{sequence},
                #{auditTime},
                #{editor})
</insert>
<update id="updatePlayListClient" parameterType="com.example.passenger.entity.PlayListClient">
        UPDATE Playlist_Client SET Sequence =#{sequence}
        WHERE
            ID =#{id}
</update>
    <delete id="deletePlayListClient" parameterType="java.lang.Integer">
        DELETE
        FROM
            Playlist_Client
        WHERE
            id =#{id}
</delete>
</mapper>