<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.RightsMapper">
    <select id="selectFirstRight" resultType="com.example.passenger.entity.Rights">
        SELECT
            *
        FROM
            Rights
        WHERE
        Parent_ID =#{parentID}
    </select>
    <select id="selectRightsByID" resultType="com.example.passenger.entity.Rights">
        SELECT
            *
        FROM
            Rights
        WHERE
        ID =#{id}
    </select>
</mapper>