<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.StandbyTypeMapper">
    <select id="selectStandbyTypePaging" resultType="com.example.passenger.entity.StandbyType">
        SELECT TOP (#{pageSize}) *
        FROM
        (
        SELECT
        ROW_NUMBER () OVER ( ORDER BY id DESC) AS RowNumber,*
        FROM
        StandbyType
        ) AS A
        WHERE
        RowNumber > #{pageSize} * (
        #{pageNum}-1)
    </select>
    <select id="selectAllStandbyType" resultType="com.example.passenger.entity.StandbyType">
        SELECT
            *
        FROM
            StandbyType
    </select>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT
            (*)
        FROM
            StandbyType
    </select>
    <insert id="addStandbyType" parameterType="com.example.passenger.entity.StandbyType">
        INSERT INTO StandbyType
        VALUES
            (
            #{standbyName},#{minNumber},#{note})
    </insert>
    <update id="updateStandbyType" parameterType="com.example.passenger.entity.StandbyType">
        UPDATE StandbyType
        SET StandbyName =#{standbyName},
        MinNumber =#{minNumber},
        Note =#{note}
        WHERE
            id =#{id}
    </update>
    <delete id="deleteStandbyType" parameterType="java.lang.Integer">
        DELETE
        FROM
            StandbyType
        WHERE
            id =#{id}
    </delete>
</mapper>