<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.passenger.mapper.StationMapper">
<select id="selectStation" parameterType="java.lang.Integer" resultType="com.example.passenger.entity.Station">
        SELECT
            *
        FROM
            Station
        WHERE
            id =#{id}
        AND IsTrain=0
</select>
    <select id="selectTrain" parameterType="java.lang.Integer" resultType="com.example.passenger.entity.Station">
        SELECT
            *
        FROM
            Station
        WHERE
            id =#{id}
        AND IsTrain=1
</select>
<select id="selectAllStation"  resultType="com.example.passenger.entity.Station">
        SELECT
            *
        FROM
            Station
        WHERE
        IsTrain=0
        <if test="lineID!=null and lineID!=0">
            AND LineID =#{lineID}
        </if>
</select>
    <select id="selectAllTrain"  resultType="com.example.passenger.entity.Station">
        SELECT
        *
        FROM
        Station
        WHERE
        IsTrain=1
        <if test="lineID!=null and lineID!=0">
            AND LineID =#{lineID}
        </if>
    </select>
<select id="queryAllStation" resultType="com.example.passenger.entity.Station">
        SELECT
            *
        FROM
            Station
        WHERE
        IsTrain=0
</select>
<select id="selectStationByName" resultType="java.lang.Integer">
    SELECT COUNT
        (*)
    FROM
        Station
    WHERE
        (StationID = #{stationID} OR Name = #{name})
        AND LineID = #{lineID}
    <if test="id!=null">
        and id !=#{id}
    </if>
</select>
<insert id="addStation"  parameterType="com.example.passenger.entity.Station">
        INSERT INTO Station
        VALUES
            (
                #{stationID},
                #{name},
                #{enName},
                #{des},
                #{serverIP},
                #{isTrain},
                #{isCenter},
                #{upStartTime},
                #{upStopTime},
                #{downStartTime},
            #{downStopTime},
            #{lineID})
</insert>
<update id="updateStation" parameterType="com.example.passenger.entity.Station">
        UPDATE Station
        SET StationID =#{stationID},
        Name =#{name},
        En_Name =#{enName},
        Des =#{des},
        ServerIP =#{serverIP},
        upStart_Time =#{upStartTime},
        upStop_Time =#{upStopTime},
        downStart_Time =#{downStartTime},
        downStop_Time =#{downStopTime},
        LineID =#{lineID}
        WHERE
            id =#{id}
</update>
<delete id="deleteStation" parameterType="java.lang.Integer">
        DELETE
        FROM
            Station
        WHERE
            id =#{id}
</delete>
<delete id="deleteStationByLineId" parameterType="java.lang.Integer">
        DELETE
        FROM
            Station
        WHERE
            LineID =#{lineID}
</delete>
</mapper>