<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/rightByLeft.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #006c96;">
<div id="coreServer_top_div">
    <p>中心设备</p>
    <div id="coreServer_right_div">
        <p>中心服务器</p>
    </div>
    <p style="margin-top: 10px">当前状态</p>
</div>
<div id="coreServer_footer_div">
    <table width="100%" border="0" >
       <thead>
            <tr>
                <th class="tips">设备位置</th>
                <th class="tips">IP</th>
                <th class="tips">MAC</th>
                <th class="tips">设备状态</th>
                <th class="tips">维护状态</th>
                <th class="tips">CPU使用率</th>
                <th class="tips">内存使用率</th>
                <th class="tips">硬盘使用率</th>
                <th class="tips">上报时间</th>
            </tr>
       </thead>
        <tr>
            <td >设备名称</td>
            <td >设备编号</td>
            <td >位置描述</td>
            <td >设备告警状态</td>
            <td >告警发生时间</td>
            <td >IP</td>
            <td >处理人</td>
            <td >处理日期</td>
            <td >处理日期</td>
        </tr>
    </table>
</div>
</body>
</html>