<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/rightByLeft.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #006c96;">
<div id="core_top_div">
    <p style="margin:auto">中心服务器</p>
    <div id="core_right_div">
        <p style="padding-left: 40%"><img src="/images/c01.png"><br><span>中心服务器</span></p>
        <p><img src="/images/c01.png"><br><span>接口服务器</span></p>
    </div>
    <p style="margin-top: 47px">中心告警信息</p>
</div>
<div id="core_footer_div">
    <table width="100%" border="0" >
        <thead>
            <tr>
                <th class="tips">设备名称</th>
                <th class="tips">设备编号</th>
                <th class="tips">位置描述</th>
                <th class="tips">设备告警状态</th>
                <th class="tips">告警发生时间</th>
                <th class="tips">IP</th>
                <th class="tips">处理人</th>
                <th class="tips">处理日期</th>
            </tr>
        </thead>
        <tr>
            <td >设备名称</td>
            <td >设备编号</td>
            <td >位置描述</td>
            <td >设备告警状态</td>
            <td >告警发生时间</td>
            <td >IP</td>
            <td >处理人</td>
            <td >处理日期</td>
        </tr>
    </table>
</div>
</body>
</html>