<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/rightByLeft.css" rel="stylesheet" type="text/css" />
</head>
<body style="background-color: #006c96;margin: auto">
<div id="trainStateDiagram_equipment_state">
    <p>设备状态图</p>
    <div id="trainStateDiagram_train_diagram">
        <img src="/images/img14.png">
    </div>
</div>
<div id="trainStateDiagram_equipment">
    <ul id="trainStateDiagram_equipment_one">
        <li>司机室1</li>
        <li>客室1</li>
        <li>客室2</li>
        <li>客室3</li>
        <li>客室4</li>
        <li>客室5</li>
        <li>客室6</li>
        <li>司机室2</li>
    </ul>
    <div id="trainStateDiagram_equipment_information">
        <div class="trainStateDiagram_equipment_div">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
        <div class="trainStateDiagram_equipment_div">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
        <div class="trainStateDiagram_equipment_div">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
        <div class="trainStateDiagram_equipment_div">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
        <div class="trainStateDiagram_equipment_div">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
        <div class="trainStateDiagram_equipment_div">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
        <div class="trainStateDiagram_equipment_div">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
        <div class="trainStateDiagram_equipment_div" style="border-right:0px;">
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
            <p>司机室摄像头</p>
        </div>
    </div>
</div>
<div id="trainStateDiagram_title_head">
    <p>设备告警信息</p>
</div>
<div id="trainStateDiagram_train">
    <table border="0" width="100%">
        <thead>
        <tr>
            <th class="tips">序号</th>
            <th class="tips">列车名称</th>
            <th class="tips">列车编号</th>
            <th class="tips">告警状态</th>
            <th class="tips">通信状态</th>
            <th class="tips">末次上报时间</th>
        </tr>
        </thead>
        <tr>
            <td>序号</td>
            <td>列车名称</td>
            <td>列车编号</td>
            <td>告警状态</td>
            <td>通信状态</td>
            <td>末次上报时间</td>
        </tr>
    </table>
</div>
</body>
</html>