/*core*/
#core_top_div{width: 100%;height: 250px;margin: auto;}
#core_top_div p{line-height: 40px;font-size: 14px;color: white;font-weight: bolder;padding-left: 10px;}
#core_right_div{width: 99%;height: 110px; background-color: white; margin: 0 auto;}
#core_right_div p{float: left;width: 10%;}
#core_right_div p span{color: black}
#core_footer_div{width: 99%;height: 349px;background-color: white;margin: 0 auto;}
.tips{border:1px solid #ccc;font-weight: bolder;font-size: 14px;height: 30px;}
table{ table-layout:fixed; border-collapse:collapse;text-align: center;}
tbody {overflow-y:auto;width: 100%;table-layout: fixed;}
tr {width: 100%; table-layout: fixed;}
td{ font-size: 12px;height: 30px; white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}

/*coreServer*/
#coreServer_top_div{width: 100%;height: 125px;}
#coreServer_top_div p{font-size: 14px;color: white;font-weight: bolder;
    padding-left: 10px;margin-bottom: 10px}
#coreServer_right_div{width: 99%;height: 55px; background-color: white; margin: 0 auto;}
#coreServer_right_div p{float: left;width: 10%;}
#coreServer_right_div p {color: black}
#coreServer_footer_div{width: 99%;height: 458px;background-color: white;margin: 0 auto;}
#coreServer_footer_div tbody {height:424px;overflow-y:auto;width: 100%;table-layout: fixed;}


/*roadStation*/
#roadStation_top_div{width: 100%;height: 125px;}
#roadStation_top_div p{font-size: 14px;color: white;font-weight: bolder;
    padding-left: 10px;margin-bottom: 10px}
#roadStation_right_div{width: 99%;height: 55px; background-color: white; margin: 0 auto;}
#roadStation_right_div p{float: left;width: 10%;}
#roadStation_right_div p {color: black}
#roadStation_footer_div{width: 99%;height: 458px;background-color: white;margin: 0 auto;}
#roadStation_footer_div tbody {height:424px;overflow-y:auto;width: 100%;table-layout: fixed;}


/*trainStateMonitor*/
#trainStateMonitor_title_head{width: 100%;height: 30px;}
#trainStateMonitor_title_head p{font-size: 14px;color: white;font-weight: bolder;padding-left: 28px;}
#trainStateMonitor_train{width: 99%;height: 554px;background-color: white;margin: 0 auto;}
#trainStateMonitor_train tbody {height:520px;overflow-y:auto;width: 100%;table-layout: fixed;}



/*trainStateDiagram*/
#trainStateDiagram_equipment_state{width: 99%;height: 107px;margin: 0 auto;}
#trainStateDiagram_equipment_state p{font-size: 14px;color: white;font-weight:bolder;padding-left: 28px}
#trainStateDiagram_train_diagram{width: 100%;height: 70px;background-color: white;text-align: center;}
#trainStateDiagram_equipment{width: 100%;height: 192px;}
#trainStateDiagram_equipment_one {list-style:none;margin:0;padding: 0;text-align: center;height: 30px;}
#trainStateDiagram_equipment_one li{display:inline;padding-left: 40px;padding-right: 40px;
    font-size: 14px;color: white;font-weight:bolder;}
#trainStateDiagram_equipment_information{width: 99%;height: 164px;margin: 0 auto;background-color: white;}
.trainStateDiagram_equipment_div{width: 12.4%;float: left;border-right:1px solid #006c96;height: 164px;
    text-align: center;font-size: 14px;font-weight:bolder;}
#trainStateDiagram_title_head{width: 99%;height: 30px;}
#trainStateDiagram_title_head p{font-size: 14px;color: white;font-weight: bolder;padding-left: 28px;}
#trainStateDiagram_train{width: 99%;height: 241px;background-color: white;margin: 0 auto;}
.tips{border:1px solid #ccc;font-weight: bolder;font-size: 14px;height: 30px;}
#trainStateDiagram_train tbody {height:86px;overflow-y:auto;width: 100%;table-layout: fixed;}


/*upperPlayer*/
#upperPlayer_volume_control{width: 99%;height: 45px;background-color: white;margin: auto;
    line-height: 44px;padding: 0; border-top: 2px solid #006c96;}
#upperPlayer_volume_control p{margin: auto;padding-left: 10px;}
#range{background-size: 98% 3px;margin: auto;width: 15%;background: linear-gradient(to right, #ccc 0%, #ccc 100%);
    outline: none;-webkit-appearance: none; /*清除系统默认样式*/height: 3px; /*横条的高度*/
}
input[type="range"]::-webkit-slider-thumb { width: 20px;height: 20px; border-radius: 50%;
    background-color: #fff;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;-webkit-appearance: none;border: 0; }
#upperPlayer_equipment_div{height: 130px;}
#upperPlayer_equipment_p{font-size: 14px;color: white;font-weight: bolder; padding-left: 10px;}
#upperPlayer_player_div{background-color: white;height: 80px;width: 99%;margin: auto}
#upperPlayer_player_div p{padding-left: 10px;padding-top: 25px;}
#upperPlayer_control_state{width: 99%;height: 335px;background-color: white;margin: 0 auto;overflow: auto}
#upperPlayer_control_title{height: 17px;font-size: 14px;color: white;font-weight: bolder;padding-left: 10px;margin-top: 0px;}
#upperPlayer_control_state tbody {overflow-y:auto;width: 100%;table-layout: fixed;}

