<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #maintain_top{height: 125px;margin: auto;}
        #maintain_top div{float: left;padding-top: 32px;padding-left: 70px;}
        #maintain_title{font-size: 14px;font-weight: bolder;background-color: #006c96;color: white;
            margin: auto;height: 20px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;}
        #maintain_ul{list-style: none;}
        #maintain_ul li{display: inline;float:left;width: 27%;font-size: 14px;height: 35px;}
        #maintain_ul li span{padding-right: 10px;}
        #maintain_ul select{height: 24px;width: 163px;}
        #maintain_height{height: 420px;width: 99%;border: 1px solid #ebf2f5;
            margin-top: 10px;margin-left: 5px;overflow-y: auto;}
        #maintain_height p{font-size: 14px;font-weight: bolder;background-color: #006c96;color: white;
            margin: auto;height: 20px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;}
        .tips{border:1px solid #ccc;font-weight: bolder;font-size: 14px;height: 30px;}
        table{ table-layout:fixed; border-collapse:collapse;text-align: center;}
        tbody {/*height:370px;*/overflow-y:auto;width: 100%;table-layout: fixed;}
        tr {width: 100%; table-layout: fixed;}
        td{ font-size: 12px;height: 30px; white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
        tr.on td{ background-color: #BFEFFF; / 背景颜色/}
        #paging_ul{list-style: none;margin: auto;padding: 0px;padding-left: 32px;padding-top: 7px;text-align: center}
        #paging_ul li{display: inline;float:left;width: 69px;}
        select{height:22px; line-height:18px; padding:2px 0}
    </style>
    <script type="text/javascript" src="/js/tabSize.js"></script>
    <script type="text/javascript" src="/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            tabSize.init('controlTable');
        };
    </script>
</head>
<body>
<div id="maintain_top">
    <p id="maintain_title">设备控制统计</p>
    <ul id="maintain_ul">
        <li><span>线路名称:</span>
            <select id="lineID">
                <option>所有线路</option>
                <option th:each="line:${lineList}" th:value="${line.id}"
                        th:text="${line.name}"></option>
            </select></li>
        <li><span>车站名称:</span>
            <select id="stationID">
                <option>所有站点</option>
                <option th:each="station:${stationList}" th:value="${station.id}"
                        th:text="${station.name}"></option>
            </select></li>
        <li><span>设备类型:</span>
            <select id="deviceType">
                <option>所有类型</option>
                <option th:each="deviceType:${deviceTypeList}" th:value="${deviceType.id}"
                        th:text="${deviceType.name}"></option>
            </select></li>
        <li style="width: 50px"><input type="button" value="查询" id="select"></li>
        <li><span>开始时间:</span>
            <!--<input type="date" id="startDate">-->
            <!--前端 JavaScript 日期插件 My97DatePicker-->
            <input class="Wdate" id="startDate" step="1" type="text" autocomplete="off"
                   onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd'/*,minDate:'%y-%M-%d'*/,maxDate:'#F{$dp.$D(\'endDate\')}'})">
        </li>
        <li><span>结束时间:</span>
            <!--<input type="date" id="endDate">-->
            <!--前端 JavaScript 日期插件 My97DatePicker-->
            <input class="Wdate" id="endDate" step="1" type="text" autocomplete="off"
                   onClick="WdatePicker({el:this,dateFmt:'yyyy-MM-dd',minDate:'#F{$dp.$D(\'startDate\') || \'%y-%M-%d\'}'})">
        </li>
        <li><span>设备名称:</span>
            <select id="deviceID">
            <option value="0">所有设备</option>
            <option th:each="device:${deviceList}" th:value="${device.id}"
                    th:text="${device.name}"></option>
            </select></li>
        <li style="width: 50px"><input type="button" value="导出" id="export"></li>
    </ul>
</div>
<div id="maintain_height">
    <table width="99.9%" border="0" id="controlTable">
        <thead>
        <tr>
            <th class="tips">序号</th>
            <th class="tips">所属线路</th>
            <th class="tips">所属车站</th>
            <th class="tips">设备名称</th>
            <th class="tips">操作类型</th>
            <th class="tips">操作时间</th>
            <th class="tips">结果</th>
        </tr>
        </thead>
        <tr >
        </tr>
    </table>
</div>
<div id="paging_div">
    <ul id="paging_ul">
    </ul>
</div>
</body>
<script language="JavaScript" src="/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var time = new Date();
    var day = ('0' + time.getDate()).slice(-2);
    var month = ('0' + (time.getMonth() + 1)).slice(-2);
    var today = time.getFullYear() + '-' + month + '-' + day;
    $('#startDate').val(today);
    $('#endDate').val(today);
    selectMaintain();
    $("#select").click(function () {
        var lineID=$("#lineID").val();
        var stationID=$("#stationID").val();
        var deviceID=$("#deviceID").val();
        var type=$("#deviceType").val();
        var startDate=$("#startDate").val();
        var endDate=$("#endDate").val();
        selectMaintain(1,lineID,stationID,deviceID,type,startDate,endDate);
    });

    $("#deviceType").change(function () {
        var lineID=$("#lineID").val();
        var stationID=$("#stationID").val();
        var type=$(this).val();
        getDevice(lineID,stationID,type);
    });

    $("#stationID").change(function () {
        var lineID=$("#lineID").val();
        var stationID=$(this).val();
        var type=$("#deviceType").val();
        getDevice(lineID,stationID,type);
    });

    $("#lineID").change(function () {
        var lineID=$(this).val();
        var stationID=$("#stationID").val();
        var type=$("#deviceType").val();
        getDevice(lineID,stationID,type);
        $.ajax({
            url:'/Station/selectAllStation',
            type:"POST",
            data:{lineID:lineID},
            success:function (data) {
                $("#stationID option").remove();
                $("#stationID").prepend('<option>所有站点</option>');
                $.each(data.stationList, function (i, station) {
                    $("#stationID").append('<option value="'+station.id+'">'+station.name+'</option>');
                });
            }
        })
    });

    $("#export").click(function () {
        var lineID=$("#lineID").val();
        var stationID=$("#stationID").val();
        var deviceID=$("#deviceID").val();
        var type=$("#deviceType").val();
        var startDate=$("#startDate").val();
        var endDate=$("#endDate").val();
        $.ajax({
            url:'/ctrlEvent/getControl',
            type:"POST",
            data:{lineID:lineID,stationID:stationID,deviceID:deviceID,
                type:type,startDate:startDate,endDate:endDate},
            success:function (data) {
                if(data.ctrlEventVoList.length!=0){
                    const jsonData=data.ctrlEventVoList;
                    //列标题，逗号隔开，每一个逗号就是隔开一个单元格
                    let str = "序号,所属线路,所属车站,设备名称,操作类型,操作时间,结果\n";
                    //增加\t为了不让表格显示科学计数法或者其他格式
                    for(let i = 0 ; i < jsonData.length ; i++ ){
                        for(let item in jsonData[i]){
                            str+=jsonData[i][item] + ",";
                        }
                        str+='\n';
                    }
                    let isIE = false;
                    if (navigator.userAgent.indexOf("compatible") > -1 && navigator.userAgent.indexOf("MSIE") > -1) { // ie浏览器
                        isIE = true;
                    }
                    if (navigator.userAgent.indexOf("Trident") > -1) { // edge 浏览器
                        isIE = true;
                    }
                    if(isIE){
                        var BOM = "\uFEFF";
                        var csvData = new Blob([BOM + str], { type: "text/csv" });
                        navigator.msSaveBlob(csvData, "设备控制统计.csv");
                    }else{
                        //encodeURIComponent解决中文乱码
                        let uri = 'data:text/csv;charset=utf-8,\ufeff' + encodeURIComponent(str);
                        //通过创建a标签实现
                        let link = document.createElement("a");
                        link.href = uri;
                        //对下载的文件命名
                        link.download =  "设备控制统计.csv";
                        document.body.appendChild(link);
                        link.click();
                        document.body.removeChild(link);
                    }
                }
            }
        });
    });
});

function selectMaintain(pageNum,lineID,stationID,deviceID,type,startDate,endDate) {
    $.ajax({
        url:'/ctrlEvent/selectStatistics',
        type:"POST",
        data:{pageNum:pageNum,lineID:lineID,stationID:stationID,deviceID:deviceID,
            type:type,startDate:startDate,endDate:endDate},
        success:function (data) {
            $("#controlTable tbody tr").remove();
            $.each(data.pageUtil.pageData, function (i, item) {
                $("#controlTable tbody").append('<tr><td>'+item.id+'</td>' +
                    '<td>'+(item.deviceName != null ? item.deviceName : "")+'</td>' +
                    '<td>'+(item.stationName != null ? item.stationName : "")+'</td>' +
                    '<td>'+(item.lineName != null ? item.lineName : "")+'</td>' +
                    '<td>'+item.ctrlType+'</td>' +
                    '<td>'+item.ctrlTime+'</td>' +
                    '<td>'+item.ctrlResult+'</td></tr>');
            });
            $("#paging_ul li").remove();
            $("#paging_ul").prepend('<li><span>当前页数:</span></li>' +
                '<li><span>'+data.pageUtil.pageNum+'</span>/<span>'+data.pageUtil.maxPage+'</span></li>');
            if(data.pageUtil.pageNum>=2){
                $(".notPreviousPage").remove();
                $("#paging_ul").prepend('<li><input type="button" value="上一页" class="isPreviousPage" onclick="previousPage('+data.pageUtil.pageNum+')"></li>');
            }else{
                $(".isPreviousPage").remove();
                $("#paging_ul").prepend('<li><input type="button" value="上一页" class="notPreviousPage" disabled="disabled"></li>');
            }

            if(data.pageUtil.pageNum<data.pageUtil.maxPage){
                $(".notNextPage").remove();
                $("#paging_ul").append('<li><input type="button" value="下一页" class="isNextPage" id="nextPage" onclick="nextPage('+data.pageUtil.pageNum+')"></li>');
            }else{
                $(".isNextPage").remove();
                $("#paging_ul").append('<li><input type="button" value="下一页" class="notNextPage" id="nextPage" disabled="disabled"></li>');
            }
        }
    });
}

function getDevice(lineID,stationID,type) {
    $.ajax({
        url:'/Device/getDevice',
        type:"POST",
        data:{lineID:lineID,stationID:stationID,type:type},
        success:function (data) {
            $("#deviceID option").remove();
            $("#deviceID").prepend('<option value="0">所有设备</option>');
            $.each(data.deviceList, function (i, device) {
                $("#deviceID").append('<option value="'+device.id+'">'+device.name+'</option>');
            });
        }
    })
}

function nextPage(pageNum) {
    var num=parseInt(pageNum)+1;
    var lineID=$("#lineID").val();
    var stationID=$("#stationID").val();
    var deviceID=$("#deviceID").val();
    var type=$("#deviceType").val();
    var startDate=$("#startDate").val();
    var endDate=$("#endDate").val();
    selectMaintain(num,lineID,stationID,deviceID,type,startDate,endDate);
}
function previousPage(pageNum) {
    var num=parseInt(pageNum)-1;
    var lineID=$("#lineID").val();
    var stationID=$("#stationID").val();
    var deviceID=$("#deviceID").val();
    var type=$("#deviceType").val();
    var startDate=$("#startDate").val();
    var endDate=$("#endDate").val();
    selectMaintain(num,lineID,stationID,deviceID,type,startDate,endDate);
}
</script>
</html>