<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #planList_height_div{width: 32%;height: 596px;background-color: white;
            border: 1px solid wheat;float: left;}
        #planContent_height_div{width: 31.6%;height: 596px;background-color: white;overflow: auto;
            border: 1px solid wheat;float: left;border-left: none;border-right: none;}
        #planManage_height_div{width: 36%;height: 596px;background-color: white;
            border: 1px solid wheat;float: left;}
        .planTD{width: 25%}
        .tips{border:1px solid #ccc;font-weight: bolder;font-size: 14px;height: 30px;}
        table{ table-layout:fixed; border-collapse:collapse;text-align: center;}
        tbody {overflow-y:auto;width: 100%;table-layout: fixed;}
        tr {width: 100%; table-layout: fixed;}
        td{ font-size: 12px;height: 30px; white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
        tr.on td{ background-color: #BFEFFF; / 背景颜色/}
        ul{list-style: none;padding-left: 20px;margin: auto;}
        li{float: left;width: 32%}
        p{font-size: 14px;font-weight: bolder;padding-left: 8px;
            padding-top: 5px;color: white;margin: auto;}
        #planManage_top_div{border: 1px solid wheat;height: 272px;border-left: none;
            border-right: none;}
        #planManage_top_div select{width: 165px;height: 22px;}
        #planManage_footer_div{border: 1px solid wheat;height: 320px;border-left: none;
            border-right: none;}
        #planManage_footer_div select{width: 165px;height: 22px;}
        .title_div{margin: auto;height: 30px;background-color: #006c96;}
        #paging_ul{list-style: none;margin: auto;padding: 0px;padding-left: 30px;padding-top: 7px;
            text-align: center}
        #paging_ul li{display: inline;float:left;width: 68px;}
        #media li{width: 25%}
        .cont {
            display: none;
            position: fixed;
            top: 12%;
            left: 18%;
            width: 65%;
            height: 70%;
            border: 6px solid lightsteelblue /*#d6b6dd47*/;
            background-color: whitesmoke/*#f4f3f7d4*/;
            z-index:1;
            overflow: auto;
        }
        #previewContent{height: 94%; width: 100%;}
        #previewContent img,video{height: 100%; width: 100%;}
    </style>
    <script src="/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    <script type="text/javascript" src="/js/tabSize.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            tabSize.init('planListTable');
            tabSize.init('planContentTable');
        };
    </script>
</head>
<body>
<div id="planList_height_div">
    <div style="height: 540px;overflow: auto">
        <table width="100%" border="0" id="planListTable">
            <thead>
            <tr>
                <th class="tips">预案名称</th>
                <th class="tips">备注</th>
            </tr>
            </thead>
            <tr>
                <td></td>
            </tr>
        </table>
    </div>
    <div id="paging_div">
        <ul id="paging_ul">
        </ul>
    </div>
</div>
<div id="planContent_height_div">
    <table width="100%" border="0" id="planContentTable">
        <thead>
        <tr>
            <th class="tips">媒体名称</th>
            <th class="tips">媒体编号</th>
            <th class="tips">编号</th>
            <th class="tips">播放时长(秒)</th>
        </tr>
        </thead>
        <tr >

        </tr>
    </table>
</div>
<div id="planManage_height_div">
    <div id="planManage_top_div">
        <div class="title_div">
            <p>预案管理</p>
        </div>
        <input type="text" class="playListID" hidden="hidden">
        <table width="100%" border="0" id="planManageTable">
            <tr><td class="planTD">预案名称</td><td ><input type="text" class="name"></td></tr>
            <tr><td class="planTD">分辨率</td>
                <td ><input style="width: 72px" type="text" value="1920" class="width"> *
                <input style="width: 72px" type="text" value="1080" class="height"></td></tr>
            <tr><td class="planTD">媒体类型</td>
                <td><select class="description">
                    <option value="0">视频</option>
                    <option value="1">图片</option>
                </select></td></tr>
            <tr><td class="planTD">备注</td><td ><input type="text" class="note"></td></tr>
        </table>
        <div style="padding-top: 35px">
            <ul>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 420}">
                    <input type="button" value="新建预案" id="addPlan"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 420}">
                    <input type="button" value="修改预案" id="updatePlan"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 420}">
                    <input type="button" value="删除预案" id="deletePlan"></li>
            </ul>
        </div>
    </div>

    <div id="planManage_footer_div">
        <div class="title_div">
            <p>媒体属性</p>
        </div>
        <input type="text" class="styleContentID" hidden="hidden">
        <input type="text" class="path" hidden="hidden">
        <table width="100%" border="0" id="planStyleTable">
            <tr><td class="planTD">媒体列表</td>
                <td><select id="fodderType"></select></td></tr>
            <tr><td class="planTD">媒体分辨率</td>
                <td><input type="text" class="resolution" value="480*560" disabled="disabled"></td></tr>
            <tr><td class="planTD">播放时长</td>
                <td><input style="width: 160px;" type="time" step="1" class="playTime" disabled="disabled"></td></tr>
            <tr><td class="planTD">文件大小</td>
                <td><input type="text" class="fodderSize" disabled="disabled"></td></tr>
        </table>
        <div style="padding-top: 35px">
            <ul id="media">
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 420}">
                    <input type="button" value="添加媒体" class="addStyleContent"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 420}">
                    <input type="button" value="修改媒体" class="updateStyleContent"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 420}">
                    <input type="button" value="删除媒体" class="deleteStyleContent"></li>
                <li><input type="button" value="预览" id="preview"></li>
            </ul>
        </div>
    </div>
    <div id="cont_b" class="cont">
        <input type="button" id="clo" value="关闭" style="float: right;">
        <div id="previewContent">

        </div>
    </div>
</div>
<script language="JavaScript" src="/js/jquery.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    selectFodderType();
    selectPlayList();
    $("#planListTable tbody tr").live("click",function(){ //给每个tr 绑定点击事件 主要锁定每个tr
        var trs = $(this).parent().find('tr'); //获取所有tr
        if(trs.hasClass('on')){ //判断这些tr 有没有Class ‘on’’
            trs.removeClass('on');//把class on 移除
        }
        $(this).addClass('on');//点击的tr 添加 on class 用于改变样式
        $(".playListID").val($(this).closest("tr").find("td").eq(0).text());
        $(".description").val($(this).closest("tr").find("td").eq(1).text());
        $(".planTD").val($(this).closest("tr").find("td").eq(2).text());
        $(".name").val($(this).closest("tr").find("td").eq(3).text());
        $(".note").val($(this).closest("tr").find("td").eq(4).text());
        if($(this).closest("tr").find("td").eq(1).text()==1){
            $(".playTime").removeAttr("disabled");
        }else{
            $(".playTime").attr("disabled","true");
        }
        getWidthHeight($(this).closest("tr").find("td").eq(0).text());
        selectFodderType($(this).closest("tr").find("td").eq(1).text());
        getStyleContent($(this).closest("tr").find("td").eq(0).text());
    });

    $("#planContentTable tbody tr").live("click",function(){ //给每个tr 绑定点击事件 主要锁定每个tr
        var trs = $(this).parent().find('tr'); //获取所有tr
        if(trs.hasClass('on')){ //判断这些tr 有没有Class ‘on’’
            trs.removeClass('on');//把class on 移除
        }
        $(this).addClass('on');//点击的tr 添加 on class 用于改变样式
        $(".styleContentID").val($(this).closest("tr").find("td").eq(0).text());
        $("#fodderType").val($(this).closest("tr").find("td").eq(2).text());
        selectFodder();
    });

    $("#clo").click(function () {
        document.getElementById('cont_b').style.display='none';
    });

    $("#preview").click(function () {
        document.getElementById('cont_b').style.display='block';
        var description=$(".description").val();
        var path=$(".path").val();
        var pathArray=path.split("/");
        var fileName=pathArray[pathArray.length-1];
        $("#previewContent img,video").remove();
        if(description==0){
            // $("#previewContent").append('<video src="/Path/fodder/'+fileName+'" controls="controls" ' +
            //     'autoplay="autoplay"></video>');

            //接入vlc插件
            $("#previewContent").empty();
            $("#previewContent").append('<object type=\'application/x-vlc-plugin\'  id=\'vlc\' width="99.9%" height="99%">'
                +'<param name=\'mrl\'id="testvlc" value=\'/Path/fodder/'+fileName+'\'/>'
                +'<param name=\'volume\' value=\'50\' />'
                +'<param name=\'autoplay\' value=\'true\'/>'
                +'<param name=\'loop\' value=\'false\' />'
                +'<param name=\'fullscreen\' value=\'false\' />'
                +'</object>');
           //  document.getElementById("vlc").style.width =/* parseInt(document.getElementById("previewContent").getBoundingClientRect().width) */  "900px";
           //  document.getElementById("vlc").style.height = /*parseInt(document.getElementById("previewContent").getBoundingClientRect().height) */ "300px";
                // document.getElementById("previewContent").offsetHeight;

        }else{
            $("#previewContent").append('<img src="/Path/fodder/'+fileName+'">');
        }
    });

    $("#addPlan").click(function () {
        var name=$(".name").val();
        var width=$(".width").val();
        var height=$(".height").val();
        var description=$(".description").val();
        var note=$(".note").val();
        if (isnull(name,note,width,height)){
            $.ajax({
                url:'/playList/addPlan',
                type:"POST",
                data:{name:name,description:description,note:note,
                    width:width,height:height},
                success:function (data) {
                    if(data.result=="exit"){
                        swal("该预案名称已存在!");
                    }else if(data.result=="success"){
                        swal("Good!", "操作成功!", "success");
                        $(".confirm").click(function () {
                            location.href="/playList/planManagement";
                        });
                    }else{
                        swal("OMG!", "操作错误!", "error");
                    }

                }
            });
        }
    });

    $("#updatePlan").click(function () {
        var id=$(".playListID").val();
        var name=$(".name").val();
        var width=$(".width").val();
        var height=$(".height").val();
        var description=$(".description").val();
        var note=$(".note").val();
        if(id==""||id==null){
            swal("请选择需要修改的预案!");
            return false;
        }
        if (isnull(name,note,width,height)){
            $.ajax({
                url:'/playList/updatePlay',
                type:"POST",
                data:{id:id,name:name,description:description,note:note,
                    width:width,height:height},
                success:function (data) {
                    if(data.result=="not"){
                        swal("请先删除媒体再修改媒体类型!");
                    }else if(data.result=="exit"){
                        swal("该预案名称已存在!");
                    }else if(data.result=="success"){
                        swal("Good!", "操作成功!", "success");
                        $(".confirm").click(function () {
                            selectPlayList();
                        });
                    }else{
                        swal("OMG!", "操作错误!", "error");
                    }
                }
            });
        }
    });

    $("#deletePlan").click(function () {
        var id=$(".playListID").val();
        if(id==""||id==null){
            swal("请选择需要删除的预案!");
            return false;
        }
        swal({
            title: "您确定要删除吗？",
            text: "您确定要删除这条数据？",
            type: "warning",
            showCancelButton: true,
            closeOnConfirm: false,
            confirmButtonText: "是的，我要删除",
            confirmButtonColor: "#ec6c62"
        }, function() {
            $.ajax({
                url: '/playList/deletePlay',
                type: "POST",
                data: {id: id},
                success: function (data) {
                    if (data.result == "success") {
                        swal("Good!", "操作成功!", "success");
                        $(".confirm").click(function () {
                            selectPlayList();
                        });
                    } else {
                        swal("OMG!", "操作错误!", "error");
                    }
                }
            });
        });
    });

    $(".description").change(function () {
        selectFodderType($(this).val());
        if($(this).val()==1){
            $(".playTime").removeAttr("disabled");
        }else{
            $(".playTime").attr("disabled","true");
        }
    });

    $("#fodderType").change(function () {
        selectFodder();
    });

    $(".addStyleContent").click(function () {
        var id=$(".playListID").val();
        var materiaID=$("#fodderType").val();
        var timeLength=$(".playTime").val();
        var fileproterty=null;
        if($(".description").val()==0){
            fileproterty="video";
        }else{
            fileproterty="image";
        }
        if(id==null || id==""){
            swal("请选择预案");
            return false;
        }
        $.ajax({
            url:'/styleContent/addStyleContent',
            type:"POST",
            data:{styleID:id,materialID:materiaID,fileproterty:fileproterty,time:timeLength},
            success:function (data) {
                if(data.result=="notExit"){
                    swal("预案列表不存在!");
                }else if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        getStyleContent(id);
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }

            }
        });
    });

    $(".updateStyleContent").click(function () {
        var playID=$(".playListID").val();
        var id=$(".styleContentID").val();
        var materiaID=$("#fodderType").val();
        var timeLength=$(".playTime").val();
        if(id==null || id==""){
            swal("请选择媒体");
            return false;
        }
        $.ajax({
            url:'/styleContent/updateStyleContent',
            type:"POST",
            data:{id:id,materialID:materiaID,time:timeLength,playListID:playID},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        getStyleContent(playID);
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            }
        });
    });

    $(".deleteStyleContent").click(function () {
        var playID=$(".playListID").val();
        var id=$(".styleContentID").val();
        if(id==null||id==""){
            swal("请选择媒体");
            return false;
        }
        $.ajax({
            url:'/styleContent/deleteStyleContent',
            type:"POST",
            data:{id:id,playListID:playID},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        getStyleContent(playID);
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            }
        });
    });

});

function selectPlayList(pageNum) {
    var type=7;
    $.ajax({
        url:'/playList/selectPlayList',
        type:"POST",
        data:{type:type,pageNum:pageNum},
        success:function (data) {
            $("#planListTable tbody tr").remove();
            $.each(data.pageUtil.pageData, function (i, item) {
                $("#planListTable tbody").prepend('<tr><td hidden="hidden">'+item.id+'</td>'+
                    '<td hidden="hidden">'+item.description+'</td>'+
                    '<td hidden="hidden">'+item.level+'</td>'+
                    '<td>'+item.name+'</td>'+
                    '<td>'+item.note+'</td>');
            });
            $("#paging_ul li").remove();
            $("#paging_ul").prepend('<li><span>当前页数:</span></li>' +
                '<li><span>'+data.pageUtil.pageNum+'</span>/<span>'+data.pageUtil.maxPage+'</span></li>');
            if(data.pageUtil.pageNum>=2){
                $(".notPreviousPage").remove();
                $("#paging_ul").prepend('<li><input type="button" value="上一页" class="isPreviousPage" onclick="previousPage('+data.pageUtil.pageNum+')"></li>');
            }else{
                $(".isPreviousPage").remove();
                $("#paging_ul").prepend('<li><input type="button" value="上一页" class="notPreviousPage" disabled="disabled"></li>');
            }

            if(data.pageUtil.pageNum<data.pageUtil.maxPage){
                $(".notNextPage").remove();
                $("#paging_ul").append('<li><input type="button" value="下一页" class="isNextPage" id="nextPage" onclick="nextPage('+data.pageUtil.pageNum+')"></li>');
            }else{
                $(".isNextPage").remove();
                $("#paging_ul").append('<li><input type="button" value="下一页" class="notNextPage" id="nextPage" disabled="disabled"></li>');
            }
        }
    });
}

function getWidthHeight(playID) {
    $.ajax({
        url:'/playStyle/getWidthHeight',
        type:"POST",
        data:{playID:playID},
        success:function (data) {
            $(".width").val(data.width);
            $(".height").val(data.height);
        }
    });
}

function getStyleContent(playID) {
    $.ajax({
        url:'/styleContent/getStyleContent',
        type:"POST",
        data:{playID:playID},
        success:function (data) {
            if(data.styleContentVoList!=null){
                $("#planContentTable tbody tr").remove();
                $.each(data.styleContentVoList, function (i, item) {
                    $("#planContentTable tbody").prepend('<tr><td hidden="hidden">'+item.id+'</td>'+
                        '<td>'+item.fodderName+'</td>'+
                        '<td>'+item.materialID+'</td>'+
                        '<td>'+item.styleID+'</td>'+
                        '<td>'+item.timeLength+'</td>');
                });
            }
        }
    });
}

function selectFodderType(type) {
    $.ajax({
        url:'/fodder/selectFodderList',
        type:"POST",
        data:{type:type},
        success:function (data) {
            if(data.fodderList!=null){
                $("#fodderType option").remove();
                $.each(data.fodderList, function (i, item) {
                    $("#fodderType").prepend('<option value="'+item.id+'">'+item.name+'</option>');
                });
            }
            selectFodder();
        }
    });
}

function selectFodder() {
    var id=$("#fodderType").val();
    $.ajax({
        url:'/fodder/selectFodder',
        type:"POST",
        data:{id:id},
        success:function (data) {
            if(data.fodder!=null){
                $(".path").val(data.fodder.path);
                $(".resolution").val(data.fodder.resolution);
                if(data.fodder.timeLength=="00:00:00" ||data.fodder.timeLength==null || data.fodder.timeLength==""){
                    $(".playTime").val("00:00:10");
                }else{
                    $(".playTime").val(data.fodder.timeLength);
                }
                $(".fodderSize").val(bytesToSize(data.fodder.size));
            }else{
                $(".fodderSize").val("");
            }

        }
    });
}

function isnull(name,note,width,height) {
    if(name.match(/^\s+$/g) || name==""){
        swal("预案名称不能为空");
        return false;
    }
    if(note.match(/^\s+$/g) || note==""){
        swal("备注不能为空");
        return false;
    }
    if(width.match(/^\s+$/g) || width=="" || height.match(/^\s+$/g) || height==""){
        swal("分辨率不能为空");
        return false;
    }
    if(!(/^[0-9]+$/.test(width)) || !(/^[0-9]+$/.test(height))){
        swal("分辨率只能为数字");
        return false;
    }
    return true;
}

// byte数据单位转换（以B为基底）
function bytesToSize(bytes) {
    if (bytes === 0) return '0 B';
    var k = 1024, // or 1000
        sizes = ['B', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'],
        i = Math.floor(Math.log(bytes) / Math.log(k));

    return (bytes / Math.pow(k, i)).toFixed(1) + ' ' + sizes[i];
}

function nextPage(pageNum) {
    var num=parseInt(pageNum)+1;
    selectPlayList(num);
}
function previousPage(pageNum) {
    var num=parseInt(pageNum)-1;
    selectPlayList(num);
}
</script>
</body>
</html>