<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/css.css" />
    <style>
        #line_height_div{width: 20%;height: 596px;background-color: white;
            border: 1px solid wheat;float: left;overflow: auto}
        #planList_height_div{width: 27.4%;height: 596px;background-color: white;
            border: 1px solid wheat;float: left;border-left: none;border-right: none;overflow-y: auto;}
        #planContent_height_div{width: 25%;height: 596px;background-color: white;
            border: 1px solid wheat;float: left;overflow: auto;}
        #planManage_height_div{width: 27%;height: 596px;background-color: white;
            border: 1px solid wheat;float: left;border-left: none;}
        .planTD{width: 25%}
        .tips{border:1px solid #ccc;font-weight: bolder;font-size: 14px;height: 30px;}
        table{ table-layout:fixed; border-collapse:collapse;text-align: center;}
        tbody {height:475px;overflow-y:auto;width: 100%;table-layout: fixed;}
        tr {width: 100%; table-layout: fixed;}
        td{ font-size: 12px;height: 30px; white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
        tr.on td{ background-color: #BFEFFF; / 背景颜色/}

        ul{list-style: none;padding-left: 20px;margin: auto;}
        li{float: left;width: 32%;height: 34px;}
        p{font-size: 14px;font-weight: bolder;padding-left: 8px;
            padding-top: 5px;color: white;margin: auto;}
        #planManage_top_div{border: 1px solid wheat;height: 332px;border-left: none;
            border-right: none;}
        #planManage_top_div select{width: 150px;height: 22px;}
        #planManage_footer_div{border: 1px solid wheat;height: 260px;border-left: none;
            border-right: none;}
        #planManage_footer_div select{width: 165px;height: 22px;}
        .title_div{margin: auto;height: 30px;background-color: #006c96;}
        .f-treeList-old{ float: left;  width:14px; height:19px; cursor: pointer;margin-top: 7px;}
        .f-treeList-titleImg{ float: left; margin-top: 4px;margin-left: 0px;}
        .f-treeList-titleP{ display: block; float: left; line-height: 26px;}
        .f-iconBi{width: 30px;margin-left: -6px}
        .f-treeList-radio{display: block;margin-right: 2px;margin-top: 5px;}
        #paging_div{position: fixed;}
        #paging_ul{list-style: none;margin: auto;padding: 0px;padding-left: 0px;padding-top: 7px;
            text-align: center;font-size: 16px}
        #paging_ul li{display: inline;float:left;width: 69px;}
    </style>
    <script src="/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
    <script type="text/javascript" src="/js/tabSize.js"></script>
    <script type="text/javascript">
        window.onload = function() {
            tabSize.init('planListTable');
            tabSize.init('planContentTable');
        };
    </script>
</head>
<body>
<div id="line_height_div">
    <div>
        <div class="f-maintenance"></div>
    </div>
</div>
<div id="planList_height_div">
    <div style="height: 550px;overflow: auto">
        <table width="100%" border="0" id="planListTable">
            <thead>
            <tr>
                <th class="tips">预案名称</th>
                <th class="tips">状态</th>
                <th class="tips">备注</th>
                <th class="tips">编号</th>
                <!--<th class="tips">版式编号</th>-->
                <th class="tips">媒体类型</th>
                <th class="tips">未通过原因</th>
            </tr>
            </thead>
            <tr>
            </tr>
        </table>
    </div>
    <div id="paging_div">
        <ul id="paging_ul">
        </ul>
    </div>
</div>
<div id="planContent_height_div">
    <table width="100%" border="0" id="planContentTable">
        <thead>
        <tr>
            <th class="tips">媒体名称</th>
            <th class="tips">媒体编号</th>
            <th class="tips">编号</th>
            <th class="tips">播放时长(秒)</th>
        </tr>
        </thead>
        <tr >

        </tr>
    </table>
</div>
<div id="planManage_height_div">
    <div id="planManage_top_div">
        <div class="title_div">
            <p>预案管理</p>
        </div>
        <input type="text" class="playListID" hidden="hidden">
        <table width="100%" border="0" id="planManageTable">
            <tr><td class="planTD">预案名称</td>
                <td><input type="text" class="name" disabled="disabled"></td></tr>
            <tr><td class="planTD">分辨率</td>
                <td ><input style="width: 64px" type="text"  class="width" disabled="disabled"> *
                    <input style="width: 64px" type="text" class="height" disabled="disabled"></td></tr>
            <tr><td class="planTD">媒体类型</td>
                <td><select class="description" disabled="disabled">
                    <option value="0">视频</option>
                    <option value="1">图片</option>
                </select></td></tr>
            <tr><td class="planTD">备注</td>
                <td><input type="text" class="note" disabled="disabled"></td></tr>
            <tr><td class="planTD">审核意见</td>
                <td><input type="text" class="summary"></td></tr>
        </table>
        <div style="padding-top: 30px">
            <ul>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 421}">
                    <input type="button" value="审核通过" id="auditAdopt"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 421}">
                    <input type="button" value="审核不通过" id="auditNotAdopt"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 422}">
                    <input type="button" value="预案发布" id="releasePlayList"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 437}">
                    <input type="button" value="预案执行" id="implPlayList"></li>
                <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 437}">
                    <input type="button" value="预案取消" id="cancelPlayList"></li>
            </ul>
        </div>
    </div>

    <div id="planManage_footer_div">
        <div class="title_div">
            <p>媒体属性</p>
        </div>
        <input type="text" class="styleContentID" hidden="hidden">
        <table width="100%" border="0" id="planStyleTable">
            <tr><td class="planTD">媒体编号</td>
                <td><input type="text" class="fodderCode" disabled="disabled"></td></tr>
            <tr><td class="planTD">媒体名称</td>
                <td><input type="text" class="fodderName" disabled="disabled"></td></tr>
            <tr><td class="planTD">媒体分辨率</td>
                <td><input type="text" class="resolution" value="800*480" disabled="disabled"></td></tr>
            <tr><td class="planTD">文件大小</td>
                <td><input type="text" class="fodderSize" disabled="disabled"></td></tr>
            <tr><td class="planTD">文件MD5</td>
                <td><input type="text" class="fodderMD5" disabled="disabled"></td></tr>
            <tr><td class="planTD">文件GUID</td>
                <td><input type="text" class="fodderGUID" disabled="disabled"></td></tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="/js/config.js" ></script>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $.ajax({
        url:'/Line/getMenu',
        type:"POST",
        data:{type:1},
        success:function (data) {
            var treeData = [
                /*{id:1,title:'轨道交通乘客信息系统',route:'javascript:void(0);',pid:0}*/
            ];
            var count=0;
            $.each(data.lineVoList, function (i, item) {
                count++;
                var one=count;
                treeData.push({id:count,title:item.name,oid:item.id,route:'javascript:void(0);',pid:0});
                $.each(item.stationVoList, function (j, itemOne) {
                    count++;
                    var two=count;
                    if(item.id==itemOne.lineID){
                        treeData.push({id:count,title:itemOne.name,oid:itemOne.id,route:'javascript:void(0);',pid:one});
                    }
                    $.each(itemOne.deviceList, function (k, itemTwo) {
                        count++;
                        if(itemOne.id==itemTwo.stationID){
                            treeData.push({id:count,title:itemTwo.name,oid:itemTwo.id,deviceNumber:itemTwo.id,route:'javascript:void(0);',pid:two});
                        }
                    });
                });
            });
            config.tree({
                type:1,//1有选择框，没有则不传type或传0
                wrapper:'.f-maintenance',//容器
                data:treeData,//数据
            });
        }
    });
    selectPlayList();
    $("#planListTable tbody").on("click",'tr',function(){ //给每个tr 绑定点击事件 主要锁定每个tr
        var trs = $(this).parent().find('tr'); //获取所有tr
        if(trs.hasClass('on')){ //判断这些tr 有没有Class ‘on’’
            trs.removeClass('on');//把class on 移除
        }
        $(this).addClass('on');//点击的tr 添加 on class 用于改变样式
        $(".playListID").val($(this).closest("tr").find("td").eq(3).text());
        $(".description").val($(this).closest("tr").find("td").eq(4).text());
       /* $(".planTD").val($(this).closest("tr").find("td").eq(2).text());*/
        $(".name").val($(this).closest("tr").find("td").eq(0).text());
        $(".note").val($(this).closest("tr").find("td").eq(2).text());
        $(".summary").val($(this).closest("tr").find("td").eq(5).text());
        var state=$(this).closest("tr").find("td").eq(1).text();
        var playID=$(this).closest("tr").find("td").eq(3).text();
        if(state=="未审核" || state=="未通过"){
            $("#releasePlayList").attr("disabled",true);
            $("#implPlayList").attr("disabled",true);
            $("#cancelPlayList").attr("disabled",true);
        }else{
            $("#releasePlayList").attr("disabled",false);
            $("#implPlayList").attr("disabled",false);
            $("#cancelPlayList").attr("disabled",false);
        }
        $.ajax({
            url:'/playStyle/getWidthHeight',
            type:"POST",
            data:{playID:playID},
            success:function (data) {
                $(".width").val(data.width);
                $(".height").val(data.height);
            }
        });
       // selectFodder();
        getStyleContent($(this).closest("tr").find("td").eq(3).text());
    });

    $("#planContentTable tbody").on("click",'tr',function(){ //给每个tr 绑定点击事件 主要锁定每个tr
        var trs = $(this).parent().find('tr'); //获取所有tr
        if(trs.hasClass('on')){ //判断这些tr 有没有Class ‘on’’
            trs.removeClass('on');//把class on 移除
        }
        $(this).addClass('on');//点击的tr 添加 on class 用于改变样式
        $(".styleContentID").val($(this).closest("tr").find("td").eq(0).text());
        selectFodder($(this).closest("tr").find("td").eq(2).text());
    });

    $("#auditAdopt").click(function () {
       var playID=$(".playListID").val();
       var state=1;
       var summary=$(".summary").val();
        if(playID==null){
            swal("请选择预案!");
            return false;
        }
        $.ajax({
            url:'/playList/auditPlayList',
            type:"POST",
            data:{id:playID,state:state,summary:summary},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        selectPlayList();
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            }
        });
    });

    $("#auditNotAdopt").click(function () {
        var playID=$(".playListID").val();
        var state=-1;
        var summary=$(".summary").val();
        if(summary.match(/^\s+$/g)|| summary==""){
            swal("请填写审核意见");
            return false;
        }
        $.ajax({
            url:'/playList/auditPlayList',
            type:"POST",
            data:{id:playID,state:state,summary:summary},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        selectPlayList();
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            }
        });
    });

    $("#releasePlayList").click(function () {
        var playlistID=$(".playListID").val();
        var deviceID=null;
        var deviceList=$(".f-iconRadioTrue").siblings(".deviceID");
        for(var i=0;i<deviceList.length;i++){
            if(deviceList[i].value!='undefined' && deviceList[i].value!=null){
                deviceID=deviceList[i].value;
                $.ajax({
                    url:'/playListClient/addClient',
                    type:"POST",
                    data:{clientID:deviceID,playlistID:playlistID},
                    success:function (data) {
                        if(data.result=="success"){
                            swal("Good!", "操作成功!", "success");
                        }else{
                            swal("OMG!", "操作错误!", "error");
                        }
                    }
                });
            }
        }

        if(deviceID==null){
            swal("请选择设备!");
            return false;
        }
    });

    $("#cancelPlayList").click(function () {
        var playlistID=$(".playListID").val();
        var deviceID=null;
        var deviceList=$(".f-iconRadioTrue").siblings(".deviceID");
        for(var i=0;i<deviceList.length;i++){
            if(deviceList[i].value!='undefined' && deviceList[i].value!=null){
                deviceID=deviceList[i].value;
                $.ajax({
                    url:'/playListClient/cancelPlayList',
                    type:"POST",
                    data:{playlistID:playlistID,deviceID:deviceID},
                    success:function (data) {
                        if(data.result=="success"){
                            swal("Good!", "操作成功!", "success");
                        }else{
                            swal("OMG!", "操作错误!", "error");
                        }
                    }
                });
            }
        }
        if(deviceID==null){
            swal("请选择设备!");
            return false;
        }
    });

    $("#implPlayList").click(function () {
        var playlistID=$(".playListID").val();
        var deviceID=null;
        var deviceList=$(".f-iconRadioTrue").siblings(".deviceID");
        for(var i=0;i<deviceList.length;i++){
            if(deviceList[i].value!='undefined' && deviceList[i].value!=null){
                deviceID=deviceList[i].value;
                $.ajax({
                    url:'/playListClient/implPlayList',
                    type:"POST",
                    data:{playlistID:playlistID,deviceID:deviceID},
                    success:function (data) {
                        if(data.result=="success"){
                            swal("Good!", "操作成功!", "success");
                        }else{
                            swal("OMG!", "操作错误!", "error");
                        }
                    }
                });
            }
        }
        if(deviceID==null){
            swal("请选择设备!");
            return false;
        }
    });
});

function selectPlayList(pageNum) {
    var type=7;
    $.ajax({
        url:'/playList/selectPlayList',
        type:"POST",
        data:{type:type,pageNum:pageNum},
        success:function (data) {
            $("#planListTable tbody tr").remove();
            $.each(data.pageUtil.pageData, function (i, item) {
                var state=null;
                var summary="";
                var description=item.description;
                if(item.state==0){
                    state="未审核";
                }else if(item.state==1){
                    state="已审核";
                }else{
                    state="未通过";
                }
                if(item.summary!=null){
                    summary=item.summary;
                }
                if(description==0){
                    description="视频";
                }else{
                    description="图片";
                }
                $("#planListTable tbody").prepend('<tr><td>'+item.name+'</td>'+
                    '<td>'+state+'</td>'+
                    '<td>'+item.note+'</td>'+
                    '<td>'+item.id+'</td>'+
                    '<td>'+description+'</td>'+
                    '<td>'+summary+'</td>');
            });
            $("#paging_ul li").remove();
            $("#paging_ul").prepend('<li><span>当前页数:</span></li>' +
                '<li><span>'+data.pageUtil.pageNum+'</span>/<span>'+data.pageUtil.maxPage+'</span></li>');
            if(data.pageUtil.pageNum>=2){
                $(".notPreviousPage").remove();
                $("#paging_ul").prepend('<li><input type="button" value="上一页" class="isPreviousPage" onclick="previousPage('+data.pageUtil.pageNum+')"></li>');
            }else{
                $(".isPreviousPage").remove();
                $("#paging_ul").prepend('<li><input type="button" value="上一页" class="notPreviousPage" disabled="disabled"></li>');
            }

            if(data.pageUtil.pageNum<data.pageUtil.maxPage){
                $(".notNextPage").remove();
                $("#paging_ul").append('<li><input type="button" value="下一页" class="isNextPage" id="nextPage" onclick="nextPage('+data.pageUtil.pageNum+')"></li>');
            }else{
                $(".isNextPage").remove();
                $("#paging_ul").append('<li><input type="button" value="下一页" class="notNextPage" id="nextPage" disabled="disabled"></li>');
            }
        }
    });
}


function getStyleContent(playID) {
    $.ajax({
        url:'/styleContent/getStyleContent',
        type:"POST",
        data:{playID:playID},
        success:function (data) {
            if(data.styleContentVoList!=null){
                $("#planContentTable tbody tr").remove();
                $.each(data.styleContentVoList, function (i, item) {
                    $("#planContentTable tbody").prepend('<tr><td hidden="hidden">'+item.id+'</td>'+
                        '<td>'+item.fodderName+'</td>'+
                        '<td>'+item.materialID+'</td>'+
                        '<td>'+item.styleID+'</td>'+
                        '<td>'+item.timeLength+'</td>');
                });
            }
        }
    });
}
function selectFodder(id) {
    $.ajax({
        url:'/fodder/selectFodder',
        type:"POST",
        data:{id:id},
        success:function (data) {
            if(data.fodder!=null){
                $(".fodderCode").val(data.fodder.id);
                $(".fodderName").val(data.fodder.name);
                $(".fodderSize").val(data.fodder.size);
                $(".fodderMD5").val(data.fodder.md5);
                $(".fodderGUID").val(data.fodder.guid);
            }else{
                $(".fodderCode").val("");
                $(".fodderName").val("");
                $(".fodderSize").val("");
                $(".fodderMD5").val("");
                $(".fodderGUID").val("");
            }

        }
    });
}

function nextPage(pageNum) {
    var num=parseInt(pageNum)+1;
    selectPlayList(num);
}
function previousPage(pageNum) {
    var num=parseInt(pageNum)-1;
    selectPlayList(num);
}
</script>
</body>
</html>