<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        #deviceSpot_top_div{height: 260px;width: 99%;border: 1px solid wheat;margin: auto}
        #deviceSpot_right_div{height: 333px;width: 99%;border: 1px solid wheat;margin: auto}
        #deviceSpot_ul{list-style: none;padding-top: 23px;}
        #deviceSpot_ul li{display: inline;float:left;width: 32%;font-size: 14px;height: 46px;}
        #deviceSpot_ul li span{padding-right: 10px;}
        #deviceSpot_top_p{font-size: 14px;font-weight: bolder;background-color: #006c96;color: white;
            margin: auto;height: 20px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;}
        #deviceSpot_right_p{font-size: 14px;font-weight: bolder;background-color: #006c96;color: white;
            margin: auto;height: 20px;padding-left: 10px;padding-top: 10px;padding-bottom: 10px;}
        #deviceSpot_top_Button{margin-top: 58px;padding-left: 4%;}
        #deviceSpot_top_Button input{height: 27px;width: 72px}

        #deviceSpot_footer_ul{list-style: none;padding-top: 23px;}
        #deviceSpot_footer_ul li{display: inline;float:left;width: 100%;font-size: 14px;height: 60px;}
        #deviceSpot_footer_ul li span{padding-right: 10px;}
        #deviceSpot_operation_div{padding-left: 150px;}
        #deviceSpot_operation_div input{height: 25px;width: 90px;}
        .deviceSpotRadio{vertical-align: bottom;height: 15px;margin-left: -3px}
        .tips{border:1px solid #ccc;font-weight: bolder;font-size: 14px;height: 30px;}
        table{ table-layout:fixed; border-collapse:collapse;text-align: center;}
        tbody {height:221px;display: block;overflow-y:auto;width: 100%;table-layout: fixed;}
        tr {display: table;width: 100%; table-layout: fixed;}
        td{ font-size: 12px;height: 30px; white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}
        tr.on td{ background-color: #BFEFFF; / 背景颜色/}
        .cont {
            display: none;
            position: fixed;
            top: 10%;
            left: 20%;
            width: 50%;
            height: 60%;
            border: 6px solid #d6b6dd47;
            background-color: #f4f3f7d4;
            z-index:1;
            overflow: auto;
        }
        #paging_ul{list-style: none;margin: auto;padding: 0px;padding-left: 32px;padding-top: 7px;}
        #paging_ul li{display: inline;float:left;width: 69px;}
        .nextPage{margin-left: -32px;}
    </style>
    <script src="/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
</head>
<body>
<div id="deviceSpot_top_div">
    <p id="deviceSpot_top_p">添加设备位置</p>
    <ul id="deviceSpot_ul">
        <li><span>测点名称:</span><input type="text" class="name"></li>
        <li><span>测点参数:</span><input type="text" class="parameter"></li>
        <li><span>测点类型:</span>
            <span>状态量:</span><input type="radio" class="deviceSpotRadio" name="type" value="1" checked="checked">
            <span>模拟量:</span><input type="radio" class="deviceSpotRadio" name="type" value="2">
            <span>信息量:</span><input type="radio" class="deviceSpotRadio" name="type" value="3">
            <span>设置量:</span><input type="radio" class="deviceSpotRadio" name="type" value="0">
        </li>
        <li><span>最小值:</span><input type="text" class="min"></li>
        <li><span>最大值:</span><input type="text" class="max"></li>
        <li><span>默认值:</span><input type="text" class="value"></li>
        <li><span>所属设备:</span>
            <select class="deviceType">
                <option th:each="deviceType:${deviceTypeList}" th:value="${deviceType.id}" th:text="${deviceType.name}"></option>
            </select>
        </li>
        <li><span>是否显示:</span><span>是:</span><input type="radio" class="deviceSpotRadio" name="isShow" checked="checked" value="1">
            <span>否:</span><input type="radio" class="deviceSpotRadio" name="isShow" value="0"></li>
        <li><span>控制类型:</span><span>开机:</span><input type="radio" class="deviceSpotRadio" name="ctrlType" value="1">
            <span>关机:</span><input type="radio" class="deviceSpotRadio" name="ctrlType" value="2">
            <span>重启:</span><input type="radio" class="deviceSpotRadio" name="ctrlType" value="3">
            <span>设置音量:</span><input type="radio" class="deviceSpotRadio" name="ctrlType" value="0" checked="checked">
        </li>
    </ul>
    <div id="deviceSpot_top_Button">
        <input id="addDeviceSpot" type="button" value="添加">
    </div>
</div>
<div id="deviceSpot_right_div">
    <p id="deviceSpot_right_p">设备位置信息</p>
    <table width="100%" border="0" id="deviceSpotTable">
        <thead>
        <tr>
            <th class="tips">测点名称</th>
            <th class="tips">测点参数</th>
            <th class="tips">测点类型</th>
            <th class="tips">最小值</th>
            <th class="tips">最大值</th>
            <th class="tips">默认值</th>
            <th class="tips">所属设备</th>
            <th class="tips">是否显示</th>
            <th class="tips">控制类型</th>
            <th class="tips">操作</th>
        </tr>
        </thead>
        <tr th:each="deviceSpot:${pageUtil.pageData}">
            <td th:text="${deviceSpot.id}" hidden="hidden"></td>
            <td th:text="${deviceSpot.name}"></td>
            <td th:text="${deviceSpot.parameter}"></td>
            <td th:if="${deviceSpot.type} eq '1'">状态量</td>
            <td th:if="${deviceSpot.type} eq '2'">模拟量</td>
            <td th:if="${deviceSpot.type} eq '3'">信息量</td>
            <td th:if="${deviceSpot.type} eq '0'">设置音量</td>
            <td th:text="${deviceSpot.min}"></td>
            <td th:text="${deviceSpot.max}"></td>
            <td th:text="${deviceSpot.value}"></td>
            <td th:text="${deviceSpot.deviceType}"></td>
            <!--<td th:each="deviceType:${deviceTypeList}" th:if="${deviceType.id} eq ${deviceSpot.deviceType}" th:text="${deviceType.name}"></td>-->
            <td th:if="${deviceSpot.isShow}eq '1'">是</td>
            <td th:if="${deviceSpot.isShow}eq '0'">否</td>
            <td th:if="${deviceSpot.ctrlType}eq '1'">开机</td>
            <td th:if="${deviceSpot.ctrlType}eq '2'">关机</td>
            <td th:if="${deviceSpot.ctrlType}eq '3'">重启</td>
            <td th:if="${deviceSpot.ctrlType}eq '0'">设置音量</td>
            <td><input type="button" value="修改" id="updateButton">&nbsp;<input type="button" value="删除" id="deleteButton"></td>
        </tr>
    </table>
    <div id="paging_div">
        <ul id="paging_ul">
            <li><input th:if="${pageUtil.pageNum} ge '2'" type="button" value="上一页"  th:onclick="'javascript:previousPage(\''+${pageUtil.pageNum-1}+'\')'">
                <input th:if="${pageUtil.pageNum} le '1'" type="button" value="上一页" disabled="disabled"></li>
            <li><span>当前页数:</span></li>
            <li><span th:text="${pageUtil.pageNum}"></span>/<span th:text="${pageUtil.maxPage}"></span></li>
            <li><input th:if="${pageUtil.pageNum} lt ${pageUtil.maxPage}" type="button" value="下一页" class="nextPage" th:onclick="'javascript:nextPage(\''+${pageUtil.pageNum+1}+'\')'">
                <input th:if="${pageUtil.pageNum} ge ${pageUtil.maxPage}" type="button" value="下一页" class="nextPage" disabled="disabled"></li>
        </ul>
    </div>
</div>

<div id="cont_b" class="cont">
    <div id="deviceSpot_footer_div">
        <input type="text" class="id" hidden="hidden">
        <ul id="deviceSpot_footer_ul">
            <li><span>测点名称:</span><input type="text" class="deviceSpotName"></li>
            <li><span>测点参数:</span><input type="text" class="deviceSpotParameter"></li>
            <li><span>测点类型:</span>
                <span>状态量:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotType" value="1" checked="checked">
                <span>模拟量:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotType" value="2">
                <span>信息量:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotType" value="3">
                <span>设置量:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotType" value="0">
            </li>
            <li><span>最小值:</span><input type="text" class="deviceSpotMin"></li>
            <li><span>最大值:</span><input type="text" class="deviceSpotMax"></li>
            <li><span>默认值:</span><input type="text" class="deviceSpotValue"></li>
            <li><span>所属设备:</span>
                <select class="deviceSpotDeviceType">
                    <option th:each="deviceType:${deviceTypeList}" th:value="${deviceType.id}" th:text="${deviceType.name}"></option>
                </select>
            <li><span>是否显示:</span><span>是:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotIsShow" value="1">
            <span>否:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotIsShow" value="0"></li>
            <li><span>控制类型:</span><span>开机:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotCtrlType" value="1">
                <span>关机:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotCtrlType" value="2">
                <span>重启:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotCtrlType" value="3">
                <span>设置音量:</span><input type="radio" class="deviceSpotRadio" name="deviceSpotCtrlType" value="0" checked="checked">
            </li>
        </ul>
    </div>
    <div id="deviceSpot_operation_div">
        <input id="updateDeviceSpot" type="button" value="保存">
        <input type="button" value="取消" onclick = "document.getElementById('cont_b').style.display='none'">
    </div>
</div>
<script language="JavaScript" src="/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#addDeviceSpot").click(function () {
            var name=$(".name").val();
            var parameter=$(".parameter").val();
            var type=$('input[name="type"]:checked').val();
            var min=$(".min").val();
            var max=$(".max").val();
            var value=$(".value").val();
            var deviceType=$(".deviceType").val();
            var isShow=$('input[name="isShow"]:checked').val();
            var ctrlType=$('input[name="ctrlType"]:checked').val();
            if(name==""){
                swal("测点名称不能为空");
                return false;
            }
            if(parameter==""){
                swal("测点参数不能为空");
                return false;
            }
            if(min==""){
                swal("最小值不能为空");
                return false;
            }
            if(max==""){
                swal("最大值不能为空");
                return false;
            }
            if(value==""){
                swal("默认值不能为空");
                return false;
            }
            $.ajax({
                url:'/deviceSpot/addDeviceSpot',
                type:"POST",
                data:{name:name,parameter:parameter,type:type,min:min,max:max,value:value,deviceType:deviceType,
                    isShow:isShow,ctrlType:ctrlType},
                success:function (data) {
                    if(data.result=="success"){
                        swal("Good!", "操作成功!", "success");
                        $(".confirm").click(function () {
                            window.location.href="/deviceSpot/deviceSpotManagement";
                        });
                    }else{
                        swal("OMG!", "操作错误!", "error");
                    }
                },
                error:function (){
                    swal("OMG!", "请求失败!", "error");
                }
            });
        });

        $("#updateButton").live("click",function () {
            document.getElementById('cont_b').style.display='block';
            //获取选中的值,传入输入框
            $(".id").val($(this).closest("tr").find("td").eq(0).text());
            $(".deviceSpotName").val($(this).closest("tr").find("td").eq(1).text());
            $(".deviceSpotParameter").val($(this).closest("tr").find("td").eq(2).text());
            if($(this).closest("tr").find("td").eq(3).text()=="状态量"){
                $(":radio[name='deviceSpotType'][value='1']").attr("checked","true");
            }else if($(this).closest("tr").find("td").eq(3).text()=="模拟量"){
                $(":radio[name='deviceSpotType'][value='2']").attr("checked","true");
            }else if($(this).closest("tr").find("td").eq(3).text()=="信息量"){
                $(":radio[name='deviceSpotType'][value='3']").attr("checked","true");
            }else{
                $(":radio[name='deviceSpotType'][value='0']").attr("checked","true");
            }
            $(".deviceSpotMin").val($(this).closest("tr").find("td").eq(4).text());
            $(".deviceSpotMax").val($(this).closest("tr").find("td").eq(5).text());
            $(".deviceSpotValue").val($(this).closest("tr").find("td").eq(6).text());
            var deviceType=$(this).closest("tr").find("td").eq(7).text();
            $(".deviceSpotDeviceType").val(deviceType);

            if($(this).closest("tr").find("td").eq(8).text()=="是"){
                $(":radio[name='deviceSpotIsShow'][value='1']").attr("checked","true");
            }else{
                $(":radio[name='deviceSpotIsShow'][value='0']").attr("checked","true");
            }
            if($(this).closest("tr").find("td").eq(9).text()=="开机"){
                $(":radio[name='deviceSpotCtrlType'][value='1']").attr("checked","true");
            }else if($(this).closest("tr").find("td").eq(9).text()=="关机"){
                $(":radio[name='deviceSpotCtrlType'][value='2']").attr("checked","true");
            }else if($(this).closest("tr").find("td").eq(9).text()=="重启"){
                $(":radio[name='deviceSpotCtrlType'][value='3']").attr("checked","true");
            }else{
                $(":radio[name='deviceSpotCtrlType'][value='0']").attr("checked","true");
            }
        });

        $("#deleteButton").live("click",function () {
            var id=$(this).closest("tr").find("td").eq(0).text();
            swal({
                title: "您确定要删除吗？",
                text: "您确定要删除这条数据？",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "是的，我要删除",
                confirmButtonColor: "#ec6c62"
            }, function() {
                $.ajax({
                    url:'/deviceSpot/deleteDeviceSpot',
                    type:"POST",
                    data:{id:id},
                    success:function (data) {
                        if(data.result=="success"){
                            swal("Good!", "操作成功!", "success");
                            $(".confirm").click(function () {
                                window.location.href="/deviceSpot/deviceSpotManagement";
                            });
                        }else{
                            swal("OMG!", "操作错误!", "error");
                        }
                    },
                    error:function (){
                        swal("OMG!", "请求失败!", "error");
                    }
                });
            });
        });
        $("#updateDeviceSpot").click(function () {
            var id=$(".id").val();
            var name=$(".deviceSpotName").val();
            var parameter=$(".deviceSpotParameter").val();
            var type=$('input[name="deviceSpotType"]:checked').val();
            var min=$(".deviceSpotMin").val();
            var max=$(".deviceSpotMax").val();
            var value=$(".deviceSpotValue").val();
            var deviceType=$(".deviceSpotDeviceType").val();
            var isShow=$('input[name="deviceSpotIsShow"]:checked').val();
            var ctrlType=$('input[name="deviceSpotCtrlType"]:checked').val();
            if(name==""){
                alert("测点名称不能为空");
                return false;
            }
            if(parameter==""){
                alert("测点参数不能为空");
                return false;
            }
            if(min==""){
                alert("最小值不能为空");
                return false;
            }
            if(max==""){
                alert("最大值不能为空");
                return false;
            }
            if(value==""){
                alert("默认值不能为空");
                return false;
            }
            $.ajax({
                url:'/deviceSpot/updateDeviceSpot',
                type:"POST",
                data:{id:id,name:name,parameter:parameter,type:type,min:min,max:max,value:value,deviceType:deviceType,
                    isShow:isShow,ctrlType:ctrlType},
                success:function (data) {
                    if(data.result=="success"){
                        swal("Good!", "操作成功!", "success");
                        $(".confirm").click(function () {
                            window.location.href="/deviceSpot/deviceSpotManagement";
                        });
                    }else{
                        swal("OMG!", "操作错误!", "error");
                    }
                },
                error:function (){
                    swal("OMG!", "请求失败!", "error");
                }
            });
        });

        $("#deviceSpotTable tr").live("click",function(){
            var trs = $(this).parent().find('tr'); //获取所有tr
            if(trs.hasClass('on')){ //判断这些tr 有没有Class ‘on’’
                trs.removeClass('on');//把class on 移除
            }
            $(this).addClass('on');//点击的tr 添加 on class 用于改变样式
        });
    })
    function nextPage(pageNum) {
        location.href="/deviceSpot/deviceSpotManagement?pageNum="+pageNum;
    }
    function previousPage(pageNum) {
        location.href="/deviceSpot/deviceSpotManagement?pageNum="+pageNum;
    }
</script>
</body>
</html>