<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/css.css" />
    <style type="text/css">
        #trainInformation_left{border: 1px solid #006c96;height: 598px;width: 25%;float: left}
        #trainInformation_right{border: 1px solid #006c96;height: 598px;width: 74.5%;float: left;display: none}
        #trainInformation_left p{margin: auto;padding-left: 10px;padding-top: 10px;color: white}
        .trainInformation_menu{position: relative;margin: auto;padding-top: 15px;padding-left: 20px;}
        .trainInformation_menu li{float: left;display: block;width: 73px;line-height: 30px;}
        .trainInformation_menu li input{width: 66px;}
        .menu_top{height: 106px;background-color: #006c96;}
        .train_p{margin: auto;padding-left: 10px;padding-top: 10px;
                    background-color: #006c96;padding-bottom: 10px;color: white}
        #trainInformation_right table{padding-top: 10px;padding-left: 10px;}
        #trainInformation_right table tr{height: 30px;}
        .add_Line{height: 40px;background-color: #d9ebfb;}
        .add_Line input{width: 70px;float: left;margin-left: 95px;margin-top: 8px;}
        .add_Platform{height: 40px;background-color: #d9ebfb;}
        .add_Platform input{width: 70px;float: left;margin-left: 95px;margin-top: 8px;}
        .add_Equipment{height: 40px;background-color: #d9ebfb;}
        .add_Equipment input{width: 70px;float: left;margin-left: 95px;margin-top: 8px;}
        .equipment_Operation{height: 40px;background-color: #d9ebfb;}
        .equipment_Operation input{width: 70px;float: left;margin-left: 95px;margin-top: 8px;}
        .add_Line{display: none}
        .add_Platform{display: none;}
        .add_Equipment{display: none}
        .equipment_Operation{display: none}
        .f-treeList-old{ float: left;  width:14px; height:19px; cursor: pointer;margin-top: 7px;}
        .f-treeList-titleImg{ float: left; margin-top: 4px;margin-left: 0px;}
        .f-treeList-titleP{ display: block; float: left; line-height: 26px;}
        .f-iconBi{width: 30px;margin-left: -6px}
        .radio{vertical-align: bottom;height: 15px;margin-left: 5px}
    </style>
    <script src="/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
</head>
<body>
<div id="trainInformation_left">
    <div class="menu_top">
        <p>设备信息</p>
        <ul class="trainInformation_menu">
            <li><input class="add_Line_Button" type="button" value="添加线路"></li>
            <li><input class="add_Platform_Button" type="button" value="添加站路"></li>
            <li><input class="add_Equipment_Button" type="button" value="添加设备"></li>
        </ul>
    </div>
   <div>
       <div class="f-tree"></div>
   </div>
</div>

<div id="trainInformation_right">
    <div style="border: 1px solid #0395ce;_height: 270px;min-height: 270px;">
        <p class="train_p">添加列车信息</p>
        <table id="trainTable" border="0" width="50%">
            <tr><td></td></tr>
        </table>
    </div>
    <div class="add_Line">
        <div><input class="line_Button_Preservation" type="button" value="保存"></div>
        <div><input class="cancel" type="button" value="取消"></div>
    </div>
    <div class="add_Platform">
        <div><input class="station_Button_Preservation" type="button" value="保存"></div>
        <div><input class="cancel" type="button" value="取消"></div>
    </div>
    <div class="add_Equipment">
        <div><input class="equipment_Button_Preservation" type="button" value="保存"></div>
        <div><input class="cancel" type="button" value="取消"></div>
    </div>
    <div class="equipment_Operation">
        <div><input class="delete_Operation" type="button" value="删除"></div>
        <div><input class="update_Operation" type="button" value="修改"></div>
    </div>
</div>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/config.js" ></script>
<script>
$(document).ready(function(){
    $(".cancel").click(function () {
        $(".add_Line").css("display","none");
        $(".add_Platform").css("display","none");
        $(".add_Equipment").css("display","none");
        $("#trainInformation_right").css("display","none");
    });

    $(".add_Line_Button").click(function(){
        $("#trainTable").find("tr").remove();
        $("#trainTable tbody").append('' +
            '<tr><td>线路编号:</td><td><input class="lineID" type="text"></td></tr>' +
            '<tr><td>线路名称:</td><td><input class="lineName" type="text"></td></tr>' +
            '<tr><td>英文名称:</td><td><input class="enName" type="text"></td></tr>'+
            '<tr><td>服务IP:</td><td><input class="serverIP" type="text"></td></tr>'+
            '<tr><td>描述:</td><td><input class="des" type="text"></td></tr>'+
            '');
        $(".equipment_Operation").css("display","none");
        $(".add_Line").css("display","block");
        $(".add_Platform").css("display","none");
        $(".add_Equipment").css("display","none");
        $("#trainInformation_right").css("display","block");
        $(".train_p").html("添加线路");
    });

    $(".add_Platform_Button").click(function(){
        $("#trainTable").find("tr").remove();
        $("#trainTable tbody").append('' +
            '<tr><td>车站编号:</td><td><input class="stationID" type="text"></td></tr>'+
            '<tr><td>车站名称:</td><td><input class="station_Name" type="text"></td></tr>' +
            '<tr><td>英文名称:</td><td><input class="en_Name" type="text"></td></tr>' +
            '<tr><td>是否为列车:</td><td>是:<input class="radio" name="isTrain" type="radio" value="1">&nbsp;' +
            '否:<input class="radio" name="isTrain" type="radio" value="0"></td></tr>'+
            '<tr><td>是否是中心:</td><td>是:<input class="radio" name="is_Center" type="radio" value="1">&nbsp;' +
            '否:<input class="radio" name="is_Center" type="radio" value="0"></td></tr>'+
            '<tr><td>IP地址:</td><td><input class="ip_Address " type="text"></td></tr>'+
            '<tr><td>所属线路:</td><td><select id="LineID"><option value="0">请选择</option></select></td></tr>'+
            '<tr><td>上行启运时间:</td><td><input class="upper_first_time" type="text"></td></tr>'+
            '<tr><td>上行停运时间:</td><td><input class="upper_end_time" type="text"></td></tr>'+
            '<tr><td>下行启运时间:</td><td><input class="lower_first_time" type="text"></td></tr>'+
            '<tr><td>下行停运时间:</td><td><input class="lower_end_time" type="text"></td></tr>'+
            '<tr><td>车站描述:</td><td><input class="des" type="text"></td></tr>'+
            '');
        $.ajax({
            url:'/Line/selectAllLine',
            type:"POST",
            data:{},
            success:function (data) {
                $.each(data.lineList, function (i, item) {
                    $("#LineID").append('<option value="'+item.id+'">'+item.name+'</option>');
                })
            }
        });
        $(".equipment_Operation").css("display","none");
        $(".add_Line").css("display","none");
        $(".add_Equipment").css("display","none");
        $(".add_Platform").css("display","block");
        $("#trainInformation_right").css("display","block");
        $(".train_p").html("添加路站");
    });


    $(".add_Equipment_Button").click(function(){
        $("#trainTable").find("tr").remove();
        $("#trainTable tbody").append('' +
            '<tr><td>设备编号:</td><td><input class="equipment_Code" type="text"></td></tr>'+
            '<tr><td>设备名称:</td><td><input class="equipment_Name" type="text"></td></tr>' +
            '<tr><td>设备类型:</td><td><select id="type" ></select></td></tr>' +
            '<tr><td>所属线路:</td><td><select id="LineID"><option value="0">请选择</option>' +
            '</select> <select id="StationID"><option value="0">请选择</option></select></td></tr>'+
            '<tr><td>IP地址:</td><td><input class="ip_Address " type="text"></td></tr>'+
            '<tr><td>设备位置:</td><td><select id="devicePosID" ></select></td></tr>'+
            '<tr><td>物理地址:</td><td><input class="mac" type="text"></td></tr>'+
            '<tr><td>描述:</td><td><input class="des " type="text"></td></tr>'+
            '');
        $.ajax({
            url:'/Device/getType',
            type:"POST",
            data:{},
            success:function (data) {
                $.each(data.lineList, function (i, item) {
                    $("#LineID").append('<option value="'+item.id+'">'+item.name+'</option>');
                });
                $.each(data.devicePosList, function (i, item) {
                    $("#devicePosID").append('<option value="'+item.id+'">'+item.name+'</option>');
                });
                $.each(data.deviceTypeList, function (i, item) {
                    $("#type").append('<option value="'+item.id+'">'+item.name+'</option>');
                });
            }
        });
        $("#LineID").change(function(){
            var lineID=$(this).val();
            $.ajax({
                url:'/Station/selectAllStation',
                type:"POST",
                data:{lineID:lineID},
                success:function (data) {
                    $("#StationID").empty();
                    $.each(data.stationList, function (i, item) {
                        $("#StationID").append('<option value="'+item.id+'">'+item.name+'</option>');
                    })
                }
            });
        });
        $(".equipment_Operation").css("display","none");
        $(".add_Line").css("display","none");
        $(".add_Platform").css("display","none");
        $(".add_Equipment").css("display","block");
        $("#trainInformation_right").css("display","block");
        $(".train_p").html("添加设备");
    });


    $(".line_Button_Preservation").click(function () {
        var lineID=$(".lineID").val();
        var lineName=$(".lineName").val();
        var enName=$(".enName").val();
        var serverIP=$(".serverIP").val();
        var des=$(".des").val();
        if(lineID==""){
            swal("线路编号不能为空");
            return false;
        }
        if(lineName==""){
            swal("线路名称不能为空");
            return false;
        }
        if(enName==""){
            swal("英文名称不能为空");
            return false;
        }
        if(serverIP==""){
            swal("服务IP不能为空");
            return false;
        }
        if(des==""){
            swal("描述不能为空");
            return false;
        }
        $.ajax({
            url:'/Line/addLine',
            type:"POST",
            data:{"lineID":lineID,"name":lineName,"enName":enName,"serverIP":serverIP,"des":des},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        window.location.href="/Line/jumpToDevice";
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            },
            error:function (){
                swal("OMG!", "请求失败!", "error");
            }
        })
    });

    $(".station_Button_Preservation").click(function () {
        var isTrain=$('input[name="isTrain"]:checked').val();
        var is_Center=$('input[name="is_Center"]:checked').val();
        var stationID=$(".stationID").val();
        var station_Name=$(".station_Name").val();
        var en_Name=$(".en_Name").val();
        var ip_Address=$(".ip_Address").val();
        var lineID=$("#LineID").val();
        var des=$(".des").val();
        var upper_first_time=$(".upper_first_time").val();
        var upper_end_time=$(".upper_end_time").val();
        var lower_first_time=$(".lower_first_time").val();
        var lower_end_time=$(".lower_end_time").val();
        if(stationID==""){
            swal("车站编号不能为空");
            return false;
        }
        if(station_Name==""){
            swal("车站名称不能为空");
            return false;
        }
        if(lineID=="0"){
            swal("请选择线路");
            return false;
        }
        if(des==""){
            swal("描述不能为空");
            return false;
        }
        if(upper_first_time==""){
            swal("上行启运时间不能为空");
            return false;
        }
        if(upper_end_time==""){
            swal("上行停运时间不能为空");
            return false;
        }
        if(lower_first_time==""){
            swal("下行启运时间不能为空");
            return false;
        }
        if(lower_end_time==""){
            swal("下行停运时间不能为空");
            return false;
        }
        $.ajax({
            url:'/Station/addStation',
            type:"POST",
            data:{"stationID":stationID,"name":station_Name,"enName":en_Name,"serverIP":ip_Address,
            "lineID":lineID,"des":des,"upStartTime":upper_first_time,"upStopTime":upper_end_time,
            "downStartTime":lower_first_time,"downStopTime":lower_end_time,"isTrain":isTrain,"isCenter":is_Center},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        window.location.href="/Line/jumpToDevice";
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            },
            error:function (){
                swal("OMG!", "请求失败!", "error");
            }
        })
    });


    $(".equipment_Button_Preservation").click(function () {
        var equipment_Name=$(".equipment_Name").val();
        var equipment_Code=$(".equipment_Code").val();
        var ip_Address=$(".ip_Address").val();
        var type=$("#type").val();
        var devicePosID=$("#devicePosID").val();
        var stationID=$("#StationID").val();
        var lineID=$("#LineID").val();
        var mac=$(".mac").val();
        var des=$(".des").val();
        if(equipment_Name==""){
            swal("设备名称不能为空");
            return false;
        }
        if(equipment_Code==""){
            swal("设备编号不能为空");
            return false;
        }
        if(ip_Address==""){
            swal("IP地址不能为空");
            return false;
        }
        if(lineID==""){
            swal("请选择线路");
            return false;
        }
        if(stationID==""){
            swal("请选择路站");
            return false;
        }
        if(mac==""){
            swal("物理位置不能为空");
            return false;
        }
        if(des==""){
            swal("描述不能为空");
            return false;
        }
        $.ajax({
            url:'/Device/addDevice',
            type:"POST",
            data:{"deviceID":equipment_Code,"name":equipment_Name,"ip":ip_Address,"type":type,
                "devicePosID":devicePosID,"mac":mac,"des":des,"lineID":lineID,"stationID":stationID},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        window.location.href="/Line/jumpToDevice";
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            },
            error:function (){
                swal("OMG!", "请求失败!", "error");
            }
        })
    });

    $.ajax({
        url:'/Line/getMenu',
        type:"POST",
        success:function (data) {
            var treeData = [
                {id:1,title:'轨道交通乘客信息系统',route:'javascript:void(0);',pid:0}
            ];
            var count=1;
            $.each(data.lineVoList, function (i, item) {
                count++;
                treeData.push({id:count,title:item.name,oid:item.id,click:'selectLine(this);',route:'javascript:void(0);',pid:1});
                 var counts=count;
                $.each(item.stationVoList, function (i, itemOne) {
                    count++;
                    //var counts=count;
                    if(item.id==itemOne.lineID){
                        //alert("输出"+counts);
                        treeData.push({id:count,title:itemOne.name,oid:itemOne.id,click:'selectStation(this);',route:'javascript:void(0);',pid:2});
                    }
                    $.each(itemOne.deviceList, function (i, itemTwo) {
                        count++;
                        if(itemOne.id==itemTwo.stationID){
                            treeData.push({id:count,title:itemTwo.name,oid:itemTwo.id,click:'selectDevice(this);',route:'javascript:void(0);',pid:3});
                        }
                    });
                });
            });
            config.tree({
                type:1,//1有选择框，没有则不传type或传0
                wrapper:'.f-tree',//容器
                data:treeData,//数据
            });
        }
    });
});


function selectLine(obj) {
    var id=$(obj).find("input").val();
    $.ajax({
        url:'/Line/selectLine',
        type:"POST",
        data:{"id":id},
        success:function (data) {
            $("#trainTable").find("tr").remove();
            $("#trainTable tbody").append('' +
                '<tr><td>线路编号:</td><td><input class="lineID" type="text" value="'+data.line.lineID+'"></td></tr>' +
                '<tr><td>线路名称:</td><td><input class="lineName" type="text" value="'+data.line.name+'"></td></tr>' +
                '<tr><td>英文名称:</td><td><input class="en_Name" type="text" value="'+data.line.enName+'"></td></tr>'+
                '<tr><td>服务IP:</td><td><input class="server_ip" type="text" value="'+data.line.serverIP+'"></td></tr>'+
                '<tr><td>备注:</td><td><input class="des" type="text" value="'+data.line.des+'"></td></tr>'+
                '');
            $(".equipment_Operation").css("display","block");
            $(".add_Line").css("display","none");
            $(".add_Platform").css("display","none");
            $(".add_Equipment").css("display","none");
            $("#trainInformation_right").css("display","block");
            $(".train_p").html("线路信息");
            $(".delete_Operation").attr("onclick",'deleteLine('+data.line.id+')');
            $(".update_Operation").attr("onclick",'updateLine('+data.line.id+')');
        }
    })
}
function selectStation(obj) {
    var id=$(obj).find("input").val();
    $.ajax({
        url:'/Station/selectStation',
        type:"POST",
        data:{"id":id},
        success:function (data) {
            $("#trainTable").find("tr").remove();
            $("#trainTable tbody").append('' +
                '<tr><td>车站编号:</td><td><input class="stationID" type="text" value="'+data.station.stationID+'"></td></tr>'+
                '<tr><td>车站名称:</td><td><input class="station_Name" type="text" value="'+data.station.name+'"></td></tr>' +
                '<tr><td>英文名称:</td><td><input class="en_Name" type="text" value="'+data.station.enName+'"></td></tr>' +
                '<tr><td>IP地址:</td><td><input class="ip_Address " type="text" value="'+data.station.serverIP+'"></td></tr>'+
                '<tr><td>是否为列车:</td><td>是:<input class="radio" name="isTrain" type="radio" value="1">&nbsp;' +
                '否:<input class="radio" name="isTrain" type="radio" value="0"></td></tr>'+
                '<tr><td>是否是中心:</td><td>是:<input class="radio" name="is_Center" type="radio" value="1">&nbsp;' +
                '否:<input class="radio" name="is_Center" type="radio" value="0"></td></tr>'+
                '<tr><td>所属线路:</td><td><select id="LineID"></select></td></tr>'+
                '<tr><td>上行启运时间:</td><td><input class="upper_first_time" type="text" value="'+data.station.upStartTime+'"></td></tr>'+
                '<tr><td>上行停运时间:</td><td><input class="upper_end_time" type="text" value="'+data.station.upStopTime+'"></td></tr>'+
                '<tr><td>下行启运时间:</td><td><input class="lower_first_time" type="text" value="'+data.station.downStartTime+'"></td></tr>'+
                '<tr><td>下行停运时间:</td><td><input class="lower_end_time" type="text" value="'+data.station.downStopTime+'"></td></tr>'+
                '<tr><td>车站描述:</td><td><input class="des" type="text" value="'+data.station.des+'"></td></tr>'+
                '');
            var lineID=data.station.lineID;
            $.ajax({
                url:'/Line/selectAllLine',
                type:"POST",
                data:{},
                success:function (data) {
                    $.each(data.lineList, function (i, item) {
                        if(item.id==lineID){
                            $("#LineID").append('<option value="'+item.id+'" selected="selected">'+item.name+'</option>');
                        }else{
                            $("#LineID").append('<option value="'+item.id+'">'+item.name+'</option>');
                        }
                    })
                }
            });
            $(".equipment_Operation").css("display","block");
            $(".add_Line").css("display","none");
            $(".add_Platform").css("display","none");
            $(".add_Equipment").css("display","none");
            $("#trainInformation_right").css("display","block");
            $(".train_p").html("车站信息");
            $(".delete_Operation").removeAttr("onclick");
            $(".update_Operation").removeAttr("onclick");
            $(".delete_Operation").attr("onclick",'deleteStation('+data.station.id+')');
            $(".update_Operation").attr("onclick",'updateStation('+data.station.id+')');
        }
    })
}

function selectDevice(obj) {
    var id=$(obj).find("input").val();
    $.ajax({
        url:'/Device/selectDevice',
        type:"POST",
        data:{"id":id},
        success:function (data) {
            $("#trainTable").find("tr").remove();
            $("#trainTable tbody").append('' +
                '<tr><td>设备编号:</td><td><input class="equipment_Code" type="text" value="'+data.device.deviceID+'"></td></tr>'+
                '<tr><td>设备名称:</td><td><input class="equipment_Name" type="text" value="'+data.device.name+'"></td></tr>' +
                '<tr><td>设备类型:</td><td><select id="type" ></select></td></tr>' +
                '<tr><td>所属线路:</td><td><select id="LineID" ></select> <select id="StationID" ></select></td></tr>'+
                '<tr><td>IP地址:</td><td><input class="ip_Address " type="text" value="'+data.device.ip+'"></td></tr>'+
                '<tr><td>设备位置:</td><td><select id="devicePosID" ></select></td></tr>'+
                '<tr><td>物理地址:</td><td><input class="mac" type="text" value="'+data.device.mac+'"></td></tr>'+
                '<tr><td>描述:</td><td><input class="des " type="text" value="'+data.device.des+'"></td></tr>'+
                '');
            var lineID=data.device.lineID;
            $.ajax({
                url:'/Device/getType',
                type:"POST",
                data:{stationID:data.device.stationID},
                success:function (data) {
                    $("#StationID").append('<option value="'+data.station.id+'">'+data.station.name+'</option>');
                    $.each(data.lineList, function (i, item) {
                            if(item.id==lineID){
                            $("#LineID").append('<option value="'+item.id+'" selected="selected">'+item.name+'</option>');
                        }else{
                            $("#LineID").append('<option value="'+item.id+'">'+item.name+'</option>');
                        }
                    });
                    $.each(data.devicePosList, function (i, item) {
                        $("#devicePosID").append('<option value="'+item.id+'">'+item.name+'</option>');
                    });
                    $.each(data.deviceTypeList, function (i, item) {
                        $("#type").append('<option value="'+item.id+'">'+item.name+'</option>');
                    });
                }
            });
            $("#LineID").change(function(){
                var lineID=$(this).val();
                $.ajax({
                    url:'/Station/selectAllStation',
                    type:"POST",
                    data:{lineID:lineID},
                    success:function (data) {
                        $("#StationID").empty();
                        $.each(data.stationList, function (i, item) {
                            $("#StationID").append('<option value="'+item.id+'">'+item.name+'</option>');
                        })
                    }
                });
            });
            $(".equipment_Operation").css("display","block");
            $(".add_Line").css("display","none");
            $(".add_Platform").css("display","none");
            $(".add_Equipment").css("display","none");
            $("#trainInformation_right").css("display","block");
            $(".train_p").html("设备信息");
            $(".delete_Operation").removeAttr("onclick");
            $(".update_Operation").removeAttr("onclick");
            $(".delete_Operation").attr("onclick",'deleteDevice('+data.device.id+')');
            $(".update_Operation").attr("onclick",'updateDevice('+data.device.id+')');
        }
    })
}
function deleteLine(id) {
    swal({
        title: "您确定要删除吗？",
        text: "您确定要删除这条数据？",
        type: "warning",
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: "是的，我要删除",
        confirmButtonColor: "#ec6c62"
    }, function() {
        $.ajax({
            url:'/Line/deleteLine',
            type:"POST",
            data:{id:id},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        window.location.href="/Line/jumpToDevice";
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            },
            error:function (){
                swal("OMG!", "请求失败!", "error");
            }
        });
    });
}

function updateLine(id) {
    var lineID=$(".lineID").val();
    var lineName=$(".lineName").val();
    var en_Name=$(".en_Name").val();
    var server_ip=$(".server_ip").val();
    var des=$(".des").val();
    if(lineID==""){
        swal("线路编号不能为空");
        return false;
    }
    if(lineName==""){
        swal("线路名称不能为空");
        return false;
    }
    if(en_Name==""){
        swal("英文名称不能为空");
        return false;
    }
    if(server_ip==""){
        swal("服务IP不能为空");
        return false;
    }
    if(des==""){
        swal("描述不能为空");
        return false;
    }
    $.ajax({
        url:'/Line/updateLine',
        type:"POST",
        data:{"id":id,"lineID":lineID,"name":lineName,"enName":en_Name,"serverIP":server_ip,"des":des},
        success:function (data) {
            if(data.result=="success"){
                swal("Good!", "操作成功!", "success");
                $(".confirm").click(function () {
                    window.location.href="/Line/jumpToDevice";
                });
            }else{
                swal("OMG!", "操作错误!", "error");
            }
        },
        error:function (){
            swal("OMG!", "请求失败!", "error");
        }
    })
}


function updateStation(id) {
    var isTrain=$('input[name="isTrain"]:checked').val();
    var is_Center=$('input[name="is_Center"]:checked').val();
    var stationID=$(".stationID").val();
    var station_Name=$(".station_Name").val();
    var en_Name=$(".en_Name").val();
    var ip_Address=$(".ip_Address").val();
    var lineID=$("#LineID").val();
    var upper_first_time=$(".upper_first_time").val();
    var upper_end_time=$(".upper_end_time").val();
    var lower_first_time=$(".lower_first_time").val();
    var lower_end_time=$(".lower_end_time").val();
    var des=$(".des").val();
    if(stationID==""){
        swal("车站编号不能为空");
        return false;
    }
    if(station_Name==""){
        swal("车站名称不能为空");
        return false;
    }
    if(lineID=="0"){
        swal("请选择线路");
        return false;
    }
    if(des==""){
        swal("描述不能为空");
        return false;
    }
    if(upper_first_time==""){
        swal("上行启运时间不能为空");
        return false;
    }
    if(upper_end_time==""){
        swal("上行停运时间不能为空");
        return false;
    }
    if(lower_first_time==""){
        swal("下行启运时间不能为空");
        return false;
    }
    if(lower_end_time==""){
        swal("下行停运时间不能为空");
        return false;
    }
    $.ajax({
        url:'/Station/updateStation',
        type:"POST",
        data:{"id":id,"stationID":stationID,"name":station_Name,"enName":en_Name,
            "serverIP":ip_Address,"lineID":lineID,"upStartTime":upper_first_time,"des":des,
            "upStopTime":upper_end_time,"downStartTime":lower_first_time,"downStopTime":lower_end_time,
            "isTrain":isTrain,"isCenter":is_Center},
        success:function (data) {
            if(data.result=="success"){
                swal("Good!", "操作成功!", "success");
                $(".confirm").click(function () {
                    window.location.href="/Line/jumpToDevice";
                });
            }else{
                swal("OMG!", "操作错误!", "error");
            }
        },
        error:function (){
            swal("OMG!", "请求失败!", "error");
        }
    })
}

function deleteStation(id) {
    swal({
        title: "您确定要删除吗？",
        text: "您确定要删除这条数据？",
        type: "warning",
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: "是的，我要删除",
        confirmButtonColor: "#ec6c62"
    }, function() {
        $.ajax({
            url:'/Station/deleteStation',
            type:"POST",
            data:{id:id},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        window.location.href="/Line/jumpToDevice";
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            },
            error:function (){
                swal("OMG!", "请求失败!", "error");
            }
        });
    });
}


function updateDevice(id) {
    var equipment_Code=$(".equipment_Code").val();
    var equipment_Name=$(".equipment_Name").val();
    var type=$("#type").val();
    var ip_Address=$(".ip_Address").val();
    var devicePosID=$("#devicePosID").val();
    var lineID=$("#LineID").val();
    var stationID=$("#StationID").val();
    var mac=$(".mac").val();
    var des=$(".des").val();
    if(equipment_Name==""){
        swal("设备名称不能为空");
        return false;
    }
    if(equipment_Code==""){
        swal("设备编号不能为空");
        return false;
    }
    if(ip_Address==""){
        swal("IP地址不能为空");
        return false;
    }
    if(lineID==""){
        swal("请选择线路");
        return false;
    }
    if(stationID==""){
        swal("请选择路站");
        return false;
    }
    if(mac==""){
        swal("物理位置不能为空");
        return false;
    }
    if(des==""){
        swal("描述不能为空");
        return false;
    }
    $.ajax({
        url:'/Device/updateDevice',
        type:"POST",
        data:{"id":id,"deviceID":equipment_Code,"name":equipment_Name,"type":type,"ip":ip_Address,
            "devicePosID":devicePosID,"mac":mac,"des":des,"lineID":lineID,"stationID":stationID},
        success:function (data) {
            if(data.result=="success"){
                swal("Good!", "操作成功!", "success");
                $(".confirm").click(function () {
                    window.location.href="/Line/jumpToDevice";
                });
            }else{
                swal("OMG!", "操作错误!", "error");
            }
        },
        error:function (){
            swal("OMG!", "请求失败!", "error");
        }
    })
}

function deleteDevice(id) {
    swal({
        title: "您确定要删除吗？",
        text: "您确定要删除这条数据？",
        type: "warning",
        showCancelButton: true,
        closeOnConfirm: false,
        confirmButtonText: "是的，我要删除",
        confirmButtonColor: "#ec6c62"
    }, function() {
        $.ajax({
            url:'/Device/deleteDevice',
            type:"POST",
            data:{id:id},
            success:function (data) {
                if(data.result=="success"){
                    swal("Good!", "操作成功!", "success");
                    $(".confirm").click(function () {
                        window.location.href="/Line/jumpToDevice";
                    });
                }else{
                    swal("OMG!", "操作错误!", "error");
                }
            },
            error:function (){
                swal("OMG!", "请求失败!", "error");
            }
        });
    });
}
</script>
</body>
</html>