<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            //导航切换
            $(".menuson li").click(function(){
                $(".menuson li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('ul').slideUp();
                if($ul.is(':visible')){
                    $(this).next('ul').slideUp();
                }else{
                    $(this).next('ul').slideDown();
                }
            });
        })
    </script>
</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>广告管理</div>
<dl class="leftmenu">

    <dd>
        <div class="title">
            <span><img src="/images/leftico01.png" /></span>客户信息管理
        </div>
        <ul class="menuson">
            <li><div><cite></cite><a href="/path/customerInfor" target="rightFrame">客户信息</a><i></i></div></li>
            <li><div><cite></cite><a href="/path/customerTemplate" target="rightFrame">客户模板</a><i></i></div></li>
            <li><div><cite></cite><a href="/path/customerAttribute" target="rightFrame">客户属性</a><i></i></div></li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="/images/leftico01.png" /></span>合同信息管理
        </div>
        <ul class="menuson">
            <li><div><cite></cite><a href="/path/contractInfor" target="rightFrame">合同信息</a><i></i></div></li>
            <li><div><cite></cite><a href="/path/contractTemplate" target="rightFrame">合同模板</a><i></i></div></li>
            <li><div><cite></cite><a href="/path/contractAttribute" target="rightFrame">合同属性</a><i></i></div></li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="/images/leftico01.png" /></span>收费信息管理
        </div>
        <ul class="menuson">
            <li><div><cite></cite><a href="/path/chargeType" target="rightFrame">收费类型定义</a><i></i></div></li>
            <li><div><cite></cite><a href="/path/chargeFactor" target="rightFrame">收费要素管理</a><i></i></div></li>
            <li><div><cite></cite><a href="/path/chargeStatistics" target="rightFrame">收费信息统计</a><i></i></div></li>
        </ul>
    </dd>

    <dd>
        <div class="title">
            <span><img src="/images/leftico01.png" /></span>广告统计管理
        </div>
        <ul class="menuson">
            <li><div><cite></cite><a href="/path/customerStatistics" target="rightFrame">客户统计管理</a><i></i></div></li>
            <li><div><cite></cite><a href="/path/contractStatistics" target="rightFrame">合同统计管理</a><i></i></div></li>
        </ul>
    </dd>
</dl>
</body>
</html>