<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="/js/jquery.js"></script>

    <script type="text/javascript">
        $(function(){
            //导航切换
            $(".menuson li").click(function(){
                $(".menuson li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('ul').slideUp();
                if($ul.is(':visible')){
                    $(this).next('ul').slideUp();
                }else{
                    $(this).next('ul').slideDown();
                }
            });
        })
    </script>


</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>消息预案</div>
<dl class="leftmenu">
    <dd>
        <div class="title">
            <span><img src="/images/leftico01.png" /></span>消息预案
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="/msgLevel/msgLevelManagement" target="rightFrame">优先级管理</a><i></i></li>
            <li><cite></cite><a href="/msgFodder/msgFodderManagement" target="rightFrame">消息录入</a><i></i></li>
            <li><cite></cite><a href="/msgFodder/realTimeMsgManagement" target="rightFrame">实时消息</a><i></i></li>
            <li><cite></cite><a href="/message/auditManagement" target="rightFrame">审核</a><i></i></li>
            <li><cite></cite><a href="/message/historyManagement" target="rightFrame">历史消息</a><i></i></li>
            <li><cite></cite><a href="/message/broadcastMessageManagement" target="rightFrame">在播消息</a><i></i></li>
        </ul>
    </dd>
    <dd><div class="title"><span><img src="/images/leftico04.png" /></span>多媒体预案</div>
        <ul class="menuson">
            <li><cite></cite><a href="/playList/planManagement" target="rightFrame">预案管理</a><i></i></li>
            <li><cite></cite><a href="/playList/playReleaseManagement" target="rightFrame">预案发布</a><i></i></li>
            <li><cite></cite><a href="/playList/playState" target="rightFrame">预案状态</a><i></i></li>
        </ul>
    </dd>
</dl>
</body>
</html>