<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="/js/jquery.js"></script>
    <script type="text/javascript">
        $(function(){
            //导航切换
            $(".menuson li").click(function(){
                $(".menuson li.active").removeClass("active")
                $(this).addClass("active");
            });

            $('.title').click(function(){
                var $ul = $(this).next('ul');
                $('dd').find('ul').slideUp();
                if($ul.is(':visible')){
                    $(this).next('ul').slideUp();
                }else{
                    $(this).next('ul').slideDown();
                }
            });
        })
    </script>
</head>

<body style="background:#f0f9fd;">
<div class="lefttop"><span></span>报表管理</div>

<dl class="leftmenu">

    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 61}">
        <div class="title"><span><img src="/images/leftico04.png" /></span>设备状态统计</div>
        <ul class="menuson">
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 423}"><div><cite></cite><a href="/devRepair/repairStatistics" target="rightFrame">设备维护统计</a><i></i></div></li>
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 424}"><div><cite></cite><a href="/devUpkeep/maintainStatistics" target="rightFrame">设备保养统计</a><i></i></div></li>
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 425}"><div><cite></cite><a href="/ctrlEvent/controlStatistics" target="rightFrame">设备控制统计</a><i></i></div></li>
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 426}"><div><cite></cite><a href="/devAlarmLog/warningStatistics" target="rightFrame">设备告警统计</a><i></i></div></li>
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 427}"><div><cite></cite><a href="/devAlarmLog/faultStatistics" target="rightFrame">设备故障统计</a><i></i></div></li>
            <li th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 428}"><div><cite></cite><a href="/lineStandby/sparePartStatistics" target="rightFrame">设备备件统计</a><i></i></div></li>
        </ul>
    </dd>

    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 62}">
        <div class="title"><span><img src="/images/leftico01.png" /></span>操作日志统计</div>
        <ul class="menuson">
            <li><div><cite></cite><a href="/operationLog/journalStatistics" target="rightFrame">操作日志统计</a><i></i></div></li>
        </ul>
    </dd>

    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 402}">
        <div class="title"><span><img src="/images/leftico01.png" /></span>信息发布统计</div>
        <ul class="menuson">
            <li><div><cite></cite><a href="/message/releaseStatistics" target="rightFrame">文本发布统计</a><i></i></div></li>
            <li><div><cite></cite><a href="/playListClient/videoReleaseStatistics" target="rightFrame">媒体发布统计</a><i></i></div></li>
        </ul>
    </dd>

    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 403}">
        <div class="title"><span><img src="/images/leftico01.png" /></span>信息播放统计</div>
        <ul class="menuson">
            <li><div><cite></cite><a href="/broadcast/textPlayStatistics" target="rightFrame">文本播放统计</a><i></i></div></li>
            <li><div><cite></cite><a href="/broadcast/videoPlayStatistics" target="rightFrame">媒体播放统计</a><i></i></div></li>
        </ul>
    </dd>

    <dd th:each="rightsList:${session.rightsList}" th:if="${rightsList.id eq 404}">
        <div class="title"><span><img src="/images/leftico01.png" /></span>接口日志统计</div>
        <ul class="menuson">
            <li><div><cite></cite><a href="javascript:void(0);" target="rightFrame">接口日志统计</a><i></i></div></li>
        </ul>
    </dd>
</dl>
</body>
</html>