<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>播出监看</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        #div1 {
            width: 80px;
            height: 110px;
            background: #e9e7e7;
            /*opacity: 0;*/
            position: absolute;
            display: none;
        }

        #div1 ul li {
            list-style: none;
            height: 20px;
            text-align: center;
            line-height: 25px;
            margin-top: 5px;
            cursor: pointer;
            -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
            -moz-webkit-transition-duration: 0.5s;
        }

        #div1 ul li:hover {
            background: #d6e4d6;
            color: #ffffff;
        }

        img {
            width: 100%;
            height: 91%;
            max-width: 100%;
            max-height: 91%;
        }

        .video {
            height: 33%;
            width: 33%;
            background-color: rebeccapurple;
            border: 1px solid red;
            float: left
        }

        .footer {
            width: 100%;
            height: 9%;
            margin: auto;
            padding: 0px;
            border: 1px solid red;
            border-right: 0px;
            border-left: 0px;
            border-bottom: 0px;
            align-items: center;
            justify-content: center;
            display: flex;
        }

        .footer span {
            font-size: 12px;
            padding-right: 15px;
            color: white;
        }

        .play {
            width: 18px;
            height: 16px;
            background-image: url("/images/play1.png");
            background-size: 18px 16px;
            border: 0px;
            border-radius: 8px;
        }

        .del {
            width: 17px;
            height: 16px;
            background-image: url("/images/play.jpg");
            background-size: 120px 113px;
            border: 0px;
            background-position: -338px -50px;
            border-radius: 8px;
            margin-left: 11px;
        }
    </style>
    <script src="/js/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/sweetalert.css">
</head>
<body>
<div id="div1">
    <ul>
        <li id="fullScreen">单屏</li>
        <li id="fourScreen">4屏</li>
        <li id="nineScreen">9屏</li>
        <li id="polling">轮循</li>
    </ul>
</div>
<div id="video1" class="video">
    <img src="/images/timg (1).jpg" id="imageContainOne">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video2" class="video">
    <img src="/images/timg (1).jpg" id="imageContainTwo">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video3" class="video">
    <img src="/images/timg (1).jpg" id="imageContainThree">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video4" class="video">
    <img src="/images/timg (1).jpg" id="imageContainFour">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video5" class="video">
    <img src="/images/timg (1).jpg" id="imageContainFive">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video6" class="video">
    <img src="/images/timg (1).jpg" id="imageContainSix">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video7" class="video">
    <img src="/images/timg (1).jpg" id="imageContainSeven">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video8" class="video">
    <img src="/images/timg (1).jpg" id="imageContainEight">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
<div id="video9" class="video">
    <img src="/images/timg (1).jpg" id="imageContainNine">
    <div class="footer">
        <span class="lineName"></span>
        <span class="stationName"></span>
        <span class="deviceName"></span>
        <input type="text" class="deviceID" hidden="hidden">
        <input type="text" class="playStatus" hidden="hidden" value="1">
        <input type="button" class="play">
        <input type="button" class="del">
    </div>
</div>
</body>
<script language="JavaScript" src="/js/jquery.js"></script>
<script>
    //全局变量
    var pollingState = 0;//轮询状态 0表示不轮询，1表示轮询
    var splitNumber = 1;
    // var loopCount=0;
    var splitCount = 1;
    //var deviceList = new Array();
    var devicePaths = new Array();//每个屏所对应设备id
    var deviceTimers = new Array();//每个屏的定时器的返回值，可用于取消定时
    var deviceStatuss = new Array();//设备播放状态，也表示播放按钮状态，1表示设备当前未播放，按钮当前为播放按钮，0表示设备当前正在播放，按钮当前为停止播放按钮
    var imageContains = new Array();//image图片容器的id
    imageContains[0] = "imageContainOne";
    imageContains[1] = "imageContainTwo";
    imageContains[2] = "imageContainThree";
    imageContains[3] = "imageContainFour";
    imageContains[4] = "imageContainFive";
    imageContains[5] = "imageContainSix";
    imageContains[6] = "imageContainSeven";
    imageContains[7] = "imageContainEight";
    imageContains[8] = "imageContainNine";

    for (var i = 0; i < 9; i++) {
        deviceTimers[i] = 0;
        deviceStatuss[i] = 1;
        devicePaths[i] = -1;
    }

    $(document).ready(function () {
        $('.video').click(function () {
            var divObject = $(this);
            $("#fullScreen").unbind('click').click(function () {
                splitNumber = 1;
                splitCount = 1;
                var divList = $(".video");
                for (var i = 0; i < divList.length; i++) {
                    $(divList[i]).hide();
                }
                $(divObject).show();
                $(divObject).attr("style", "width:99.7%;height:99.7%;");
            })
        });

        $("#fourScreen").click(function () {
            splitNumber = 4;
            splitCount = 4;
            $(".video").attr("style", "width:49.7%;height:49%;");//设置宽度,高度
            $("#video5,#video6,#video7,#video8,#video9").attr("style", "display:none;");//隐藏div
        });

        $("#nineScreen").click(function () {
            splitNumber = 9;
            splitCount = 9;
            $(".video").attr("style", "width:33%;");//设置宽度
        });

        $("#polling").click(function () {
            if (pollingState == 1) {//关闭轮询
                pollingState = 0;
            } else {//开启轮询
                pollingState = 1;
            }
            //查找有哪些屏有选择设备的
            var deviceIDList = document.getElementsByClassName("deviceID");
            for (var i = 0; i < deviceIDList.length; i++) {
                if (document.getElementsByClassName("deviceID")[i].value != "") {//存在设备
                    /*if (deviceStatuss[i] == 1){//未播放
                        //点击 播放按钮,以新状态(轮询/非轮询)运行
                        document.getElementById('video'+(i+1)).getElementsByTagName('input')[2].click();
                    }*/
                    if (deviceStatuss[i] == 0) {//正在播放
                        //点击 停止按钮,结束当前状态(轮询/非轮询)
                        var divIndex = i + 1;

                        //test
                        // console.log("模拟点击停止按钮");

                        //点击 停止按钮,停止(轮询/非轮询)
                        document.getElementById('video' + divIndex).getElementsByTagName('input')[2].click();

                        //test
                        // console.log("模拟点击重新播放按钮");

                        //点击 播放按钮,开启新状态(轮询/非轮询)
                        document.getElementById('video' + divIndex).getElementsByTagName('input')[2].click();


                        // if(deviceStatuss[i] == 1){
                        //     //点击 播放按钮,开启新状态(轮询/非轮询)
                        //     //test
                        //     console.log("deviceStatuss["+i+"]:"+deviceStatuss[i]);
                        //     console.log("轮询状态下模拟重新点击播放按钮");
                        //     document.getElementById('video'+(i+1)).getElementsByTagName('input')[2].click();
                        // }
                        //点击 播放按钮,开启新状态(轮询/非轮询)
                        // document.getElementById('video'+(i+1)).getElementsByTagName('input')[2].click();
                    }

                }
            }


            // console.log(document.getElementsByClassName("deviceID")[0]);
        });

        // $(".del").click(function () {
        //     var deviceID=$(this).siblings(".deviceID").val();
        //     var object=$(this);
        //     if (deviceID==""){
        //         swal("请先选择需要监看的设备");
        //     }else{
        //         $.ajax({
        //             url:'/prisonWatch/deletePlaylist',
        //             type:"POST",
        //             data:{deviceID:deviceID},
        //             success:function (data) {
        //                 object.siblings(".playStatus").attr("value",'1');
        //                 deviceStatuss[data.deviceListCount]=1;
        //             }
        //         });
        //     }
        // });

        $(".del").click(function () {
            var deviceID = $(this).siblings(".deviceID").val();
            var playStatus = $(this).siblings(".playStatus").val();
            var object = $(this);
            var divId = object.parent().parent().attr('id');
            var devicePara = divId.substr(5, 6);
            if (deviceID == "") {
                swal("请先选择需要监看的设备");
            } else {
                $.ajax({
                    url: '/prisonWatch/deleteDeviceFromDevicelistPolling',
                    type: "POST",
                    async: false,
                    data: {
                        deviceID: deviceID,
                        playStatus: playStatus,
                        divIndex: devicePara - 1,
                        pollingState: pollingState
                    },
                    success: function (data) {
                        // object.siblings(".playStatus").attr("value",'1');
                        // deviceStatuss[data.deviceListCount]=1;
                        //还原相关数据
                        if (deviceTimers[devicePara - 1] != 0) {
                            clearInterval(deviceTimers[devicePara - 1]);
                        }
                        deviceTimers[devicePara - 1] = 0;
                        deviceStatuss[devicePara - 1] = 1;
                        devicePaths[devicePara - 1] = -1;
                        document.getElementById(imageContains[devicePara - 1]).src = "/images/timg (1).jpg";
                        document.getElementById(divId).getElementsByTagName('input')[0].value = null;
                        document.getElementById(divId).getElementsByTagName('input')[2].removeAttribute("style");
                        document.getElementById(divId).getElementsByTagName('span')[0].innerHTML = "";
                        document.getElementById(divId).getElementsByTagName('span')[1].innerHTML = "";
                        document.getElementById(divId).getElementsByTagName('span')[2].innerHTML = "";
                        object.siblings(".playStatus").attr("value", '1');
                        // object.attr("style","background-image: url(\"/images/play1.png\")");

                    }
                });

            }


            // if (deviceID==""){
            //     swal("请先选择需要监看的设备");
            // }else{
            //     $.ajax({
            //         url:'/prisonWatch/deletePlaylist',
            //         type:"POST",
            //         data:{deviceID:deviceID},
            //         success:function (data) {
            //             object.siblings(".playStatus").attr("value",'1');
            //             deviceStatuss[data.deviceListCount]=1;
            //         }
            //     });
            // }
        });


        // $(".play").click(function () {
        //     var deviceID=$(this).siblings(".deviceID").val();
        //     var status=$(this).siblings(".playStatus").val();
        //     var object=$(this);
        //     if (deviceID==""){
        //         swal("请先选择需要监看的设备");
        //     }else{
        //         $.ajax({
        //             url:'/prisonWatch/openPlay',
        //             type:"POST",
        //             data:{deviceID:deviceID,state:status},
        //             success:function (data) {
        //                 if(data.result=="success"){
        //                     var divObject=object.parent().parent().attr('id');
        //                     var devicePara=divObject.substr(5,6);
        //                     if(status=="1"){
        //                         deviceStatuss[devicePara-1]=0;
        //                         object.siblings(".playStatus").attr("value",'0');
        //                         object.attr("style","background-image: url(\"/images/play2.png\")");
        //                     }else{
        //                         deviceStatuss[devicePara-1]=1;
        //                         object.siblings(".playStatus").attr("value",'1');
        //                         object.attr("style","background-image: url(\"/images/play1.png\")");
        //                     }
        //                     getVideo();
        //                 }
        //             }
        //         });
        //     }
        // });

        //播放/停止按钮点击事件
        $(".play").click(function () {
            var deviceID = $(this).siblings(".deviceID").val();
            var status = $(this).siblings(".playStatus").val();
            var object = $(this);
            if (deviceID == "") {
                swal("请先选择需要监看的设备");
            } else {
                $.ajax({
                    url: '/prisonWatch/openPlayPolling',
                    type: "POST",
                    async: false,//ture为异步请求，false为非异步
                    data: {deviceID: deviceID, devicePlayState: status, pollingState: pollingState},
                    success: function (data) {
                        if (data.result == "success") {
                            var divObject = object.parent().parent().attr('id');
                            var devicePara = divObject.substr(5, 6);
                            if (status == "1") {//开启播放
                                //若该设备正在播放则提示该设备正在播放，不允许同时播放多个同个设备
                                if (data.isPlaying) {
                                    swal("该设备画面播放中，请勿再次播放!");
                                    return;
                                } else {
                                    //更新相关数据
                                    object.siblings(".playStatus").attr("value", '0');
                                    object.attr("style", "background-image: url(\"/images/play2.png\")");
                                    deviceStatuss[devicePara - 1] = 0;
                                    devicePaths[devicePara - 1] = deviceID;
                                    //播放画面
                                    changeSrcPolling(deviceID, devicePara - 1, data.playingDeviceVoList);
                                }
                            } else {//停止播放
                                // 关闭获取图片定时器
                                if (deviceTimers[devicePara - 1] != 0 && deviceTimers[devicePara - 1] != null) {
                                    clearInterval(deviceTimers[devicePara - 1]);
                                }
                                // devicePaths[devicePara-1] = -1;
                                deviceStatuss[devicePara - 1] = 1;
                                deviceTimers[devicePara - 1] = 0;
                                object.siblings(".playStatus").attr("value", '1');
                                object.attr("style", "background-image: url(\"/images/play1.png\")");
                            }
                            // getVideo();
                        }
                    }
                });
            }
        });

    });

    //定义全局状态变量
    function getpos(ev) {
        var scrolltop = document.documentElement.scrollTop || document.body.scrollTop;
        var scrollleft = document.documentElement.scrollLeft || document.body.scrollLeft;
        return {x: ev.clientX + scrollleft, y: ev.clientY + scrolltop}

    }

    window.onload = function () {
        var odiv1 = document.getElementById("div1");
        document.oncontextmenu = function (ev) {
            var eventr = ev || event;
            var pos = getpos(eventr);
            odiv1.style.top = pos.y + "px";
            odiv1.style.left = pos.x + "px";
            odiv1.style["display"] = "block";
            return false;
        };
        document.onclick = function () {
            odiv1.style["display"] = "none";
        };
    };

    // t=setInterval('getVideo()',2000);
    // function getVideo() {
    //     $.ajax({
    //         url:'/Device/getVideo',
    //         type:"POST",
    //         data:{},
    //         success:function (data) {
    //             //deviceList=data.deviceList;
    //             changeSrc(data.deviceList);
    //         }
    //     });
    // }

    //页面加载完成一秒后初始化屏的设备信息
    //定时1秒获取信息初始化页面
    var initializePageTime = setInterval(function () {
        // alert("页面加载完成1秒后执行");
        $.ajax({
            url: '/Device/getVideo',
            type: "POST",
            data: {},
            async: false,
            success: function (data) {
                //还原上次离开时未移除的所选择设备列表
                if (data.divIndexMapdeviceId != null) {
                    var selectDeviceListLength = data.deviceList.length;
                    var selectDeviceList = data.deviceList;
                    var devicePathsMap = data.divIndexMapdeviceId;
                    var nIndex = 0;
                    for (var i = 0; i < selectDeviceListLength; i++) {//待完善，有可能出现删除设备后其他设备信息与截图错位显示
                        if (devicePathsMap[i] != -1) {
                            for (var j = 0; j < 9; j++) {
                                if (selectDeviceList[i].id == devicePathsMap[j]) {
                                    var containerDivId = "video" + (j + 1);
                                    document.getElementById(containerDivId).getElementsByTagName('input')[0].value = selectDeviceList[i].id;
                                    document.getElementById(containerDivId).getElementsByTagName('span')[0].innerHTML = selectDeviceList[i].lineName;
                                    document.getElementById(containerDivId).getElementsByTagName('span')[1].innerHTML = selectDeviceList[i].stationName;
                                    document.getElementById(containerDivId).getElementsByTagName('span')[2].innerHTML = selectDeviceList[i].name;
                                    break;
                                }
                            }
                        }
                    }
                    for (var i = 0; i < 9; i++) {
                        devicePaths[i] = devicePathsMap[i];
                    }
                }
            }
        });
    }, 1000);

    /*s=setInterval(function openVideo() {
        debugger
        var test=deviceList;
        changeSrc(deviceList);
    },5000);*/

    // function changeSrc(deviceList) {
    //     var len = deviceList.length;
    //     var i = 0;
    //     if (pollingState == 1) {
    //         len = splitCount;
    //         i = loopCount;
    //         for (var k = 0; k < deviceList.length; k++) {
    //             deviceStatuss[k] = 1;
    //         }
    //     }
    //     if (deviceList.length == 0) {
    //         document.getElementById('video1').getElementsByTagName('img')[0].src = "/images/timg (1).jpg";
    //         document.getElementById('video1').getElementsByTagName('input')[0].value = "";
    //         document.getElementById('video1').getElementsByTagName('span')[0].innerHTML = "";
    //         document.getElementById('video1').getElementsByTagName('span')[1].innerHTML = "";
    //         document.getElementById('video1').getElementsByTagName('span')[2].innerHTML = "";
    //         document.getElementById('video1').getElementsByTagName('input')[2].style.backgroundImage = "url(/images/play1.png)";
    //         return;
    //     }
    //     var nIndex = 0;
    //     for (var j = i; j < len; j++) {
    //         if (pollingState == 1) {
    //             loopCount++;
    //             splitCount++;
    //             if (loopCount >= deviceList.length) {
    //                 splitCount = splitNumber;
    //                 loopCount = 0;
    //             }
    //             deviceStatuss[j] = 0;
    //         }
    //
    //         var keystr = "video" + (nIndex + 1);
    //         if (document.getElementById(keystr) == undefined) {
    //             break;
    //         }
    //         document.getElementById(keystr).getElementsByTagName('input')[0].value = deviceList[j].id;
    //         document.getElementById(keystr).getElementsByTagName('span')[0].innerHTML = deviceList[j].lineName;
    //         document.getElementById(keystr).getElementsByTagName('span')[1].innerHTML = deviceList[j].stationName;
    //         document.getElementById(keystr).getElementsByTagName('span')[2].innerHTML = deviceList[j].name;
    //         devicePaths[j] = deviceList[j].id;
    //         if (deviceStatuss[j] === 0) {
    //             if (deviceTimers[j] === 0) {
    //                 deviceTimers[j] = setInterval(wrapper(j), 500);
    //
    //                 function wrapper(args) {
    //                     return function () {
    //                         var nIndex = args;
    //                         console.log("nIndex:" + nIndex);
    //                         deleteImage(document.getElementById(imageContains[nIndex]).src);
    //                         if (deviceStatuss[nIndex] == 1) {
    //                             clearInterval(deviceTimers[nIndex]);
    //                             deviceTimers[nIndex] = 0;
    //                             return;
    //                         }
    //                         getImage(devicePaths[nIndex], document.getElementById(imageContains[nIndex]));
    //                     }
    //                 }
    //             }
    //         }
    //         nIndex++;
    //     }
    //     var keystr = "video" + (nIndex + 1);
    //     if (document.getElementById(keystr)) {
    //         document.getElementById(keystr).getElementsByTagName('img')[0].src = "/images/timg (1).jpg";
    //         document.getElementById(keystr).getElementsByTagName('input')[0].value = "";
    //         document.getElementById(keystr).getElementsByTagName('span')[0].innerHTML = "";
    //         document.getElementById(keystr).getElementsByTagName('span')[1].innerHTML = "";
    //         document.getElementById(keystr).getElementsByTagName('span')[2].innerHTML = "";
    //         document.getElementById(keystr).getElementsByTagName('input')[2].style.backgroundImage = "url(/images/play1.png)";
    //     }
    // }


    // function getImage(path,image) {
    //     console.log("getImage:" + typeof(path) + " " + path);
    //     $.ajax({
    //         url:'/prisonWatch/getImage',
    //         type:"POST",
    //         data:{imagePath:path},
    //         success:function (data) {
    //             if (typeof data.img != "undefined" && data.img!=null) {
    //                 image.src="/Path/"+path+"/"+data.img;
    //                 console.log(image.src);
    //             }else if(data.result=="connectError"){
    //                 swal("设备("+data.alarmName+")连接异常!");
    //                 var divObjectId=image.parentElement.id;
    //                 var devicePara=divObjectId.substr(5,6);
    //                 //关闭定时器
    //                 clearInterval(deviceTimers[devicePara-1]);
    //                 deviceTimers[devicePara-1] = 0;
    //                 deviceStatuss[devicePara-1]=1;
    //                 document.getElementById(divObjectId).getElementsByTagName('input')[1].value="1";
    //                 document.getElementById(divObjectId).getElementsByTagName('input')[2].style.backgroundImage="url(/images/play1.png)";
    //             }else if (data.result=="interrupt") {
    //                 swal("设备("+data.alarmName+")连接中断!");
    //                 var divObjectId=image.parentElement.id;
    //                 var devicePara=divObjectId.substr(5,6);
    //                 //关闭定时器
    //                 clearInterval(deviceTimers[devicePara-1]);
    //                 deviceTimers[devicePara-1] = 0;
    //                 deviceStatuss[devicePara-1]=1;
    //                 document.getElementById(divObjectId).getElementsByTagName('input')[1].value="1";
    //                 document.getElementById(divObjectId).getElementsByTagName('input')[2].style.backgroundImage="url(/images/play1.png)";
    //             }
    //         }
    //     });
    // }

    // function deleteImage(path) {
    //     if (path.indexOf("undefined") != -1 || path.indexOf("timg") != -1)
    //     {
    //         return;
    //     }
    //     console.log("deleteImage:" + typeof(path) + " " + path);
    //     $.ajax({
    //         url:'/prisonWatch/deleteImage',
    //         type:"POST",
    //         data:{imagePath:path},
    //         success:function (data) {
    //         }
    //     });
    // }

    // window.onbeforeunload= function(event) {
    //     // console.log("刷新页面触发");
    //     $.ajax({
    //         url:'/prisonWatch/closePrisonWatch',
    //         type:"POST",
    //         data:{},
    //         success:function (data) {
    //         }
    //     });
    // };
    // window.onunload = function(event) {
    //     // console.log("关闭页面触发");
    //     $.ajax({
    //         url:'/prisonWatch/closePrisonWatch',
    //         type:"POST",
    //         data:{},
    //         success:function (data) {
    //         }
    //     });
    // };

    window.onbeforeunload = function (event) {
        //test
        // console.log("刷新页面触发");
        $.ajax({
            url: '/prisonWatch/closePrisonWatchPolling',
            type: "POST",
            // async:false, //是否异步请求
            data: {},
            success: function (data) {
                //恢复初始状态
                for (var i = 0; i < 9; i++) {
                    //关闭定时器
                    if (deviceTimers[i] != 0) {
                        clearInterval(deviceTimers[i]);
                    }
                    //复原播放状态
                    deviceStatuss[i] = 1;
                }
                //复原轮询状态
                pollingState = 0;
                clearInterval(initializePageTime);
            }
        });
    };
    window.onunload = function (event) {
        //test
        // console.log("关闭页面触发");
        $.ajax({
            url: '/prisonWatch/closePrisonWatchPolling',
            type: "POST",
            // async:false,//是否异步请求
            data: {},
            success: function (data) {
                //恢复初始状态
                for (var i = 0; i < 9; i++) {
                    //关闭定时器
                    if (deviceTimers[i] != 0) {
                        clearInterval(deviceTimers[i]);
                    }
                    //复原播放状态
                    deviceStatuss[i] = 1;
                }
                //复原轮询状态
                pollingState = 0;
                clearInterval(initializePageTime);
            }
        });
    };


    //切换画面
    //每个播放屏有各自的定时器，定时切换当前设备播放画面，除此之外还有一个定时器，用于定时切换下一个设备轮询
    function changeSrcPolling(deviceId, deviceIndex, playingDeviceVoList) {
        //更新播放显示设备信息
        var divId = "video" + (deviceIndex + 1);
        var playingDeviceVoIndex = null;
        for (let i = 0; i < playingDeviceVoList.length; i++) {
            if (deviceId == playingDeviceVoList[i].id) {
                playingDeviceVoIndex = i;
                document.getElementById(divId).getElementsByTagName('input')[0].value = playingDeviceVoList[i].id;
                document.getElementById(divId).getElementsByTagName('span')[0].innerHTML = playingDeviceVoList[i].lineName;
                document.getElementById(divId).getElementsByTagName('span')[1].innerHTML = playingDeviceVoList[i].stationName;
                document.getElementById(divId).getElementsByTagName('span')[2].innerHTML = playingDeviceVoList[i].name;
                break;
            }
        }
        devicePaths[deviceIndex] = playingDeviceVoList[playingDeviceVoIndex].id;
        // deviceStatuss[deviceIndex] = 0;
        //获取图片并显示
        getImagePolling(devicePaths[deviceIndex], document.getElementById(imageContains[deviceIndex]));

        //定时切换图片画面
        deviceTimers[deviceIndex] = setInterval(function () {
            getImagePolling(devicePaths[deviceIndex], document.getElementById(imageContains[deviceIndex]));
        }, 70);
        //轮询状态下定时切换设备
        if (pollingState == 1 && deviceStatuss[deviceIndex] == 0) {
            //恢复界面为默认界面
            document.getElementById(imageContains[deviceIndex]).src = "/images/timg (1).jpg";
            //切换下一设备
            cutoverNextDevice(deviceIndex, playingDeviceVoList, playingDeviceVoIndex);
        }
    }

    //轮询 定时切换设备
    function cutoverNextDevice(deviceIndex, playingDeviceVoList, playingDeviceVoIndex) {
        //切换下一设备
        //定时器 设置延迟多少毫秒后执行某函数 10秒后切换下一个设备画面显示
        setTimeout(function () {
            if (pollingState == 1 && deviceStatuss[deviceIndex] == 0) {
                $.ajax({
                    url: '/prisonWatch/getNextDevicePolling',
                    type: "POST",
                    async: false,
                    data: {
                        deviceId: playingDeviceVoList[playingDeviceVoIndex].id,
                        lineId: playingDeviceVoList[playingDeviceVoIndex].lineID,
                        divIndex: deviceIndex
                    },
                    success: function (data) {
                        //关闭当前设备定时器
                        if (deviceTimers[deviceIndex] != 0 && deviceTimers[deviceIndex] != null) {
                            clearInterval(deviceTimers[deviceIndex]);
                        }

                        // //恢复默认设置
                        // devicePaths[deviceIndex] = -1;
                        // deviceStatuss[deviceIndex] = 1;
                        // deviceTimers[deviceIndex] = 0;
                        //
                        // // object.siblings(".playStatus").attr("value",'1');
                        // // object.attr("style","background-image: url(\"/images/play1.png\")");
                        //
                        // $("#"+imageContains[deviceIndex]).attr("value",'1');
                        // $("#"+imageContains[deviceIndex]).attr("style","background-image: url(\"/images/play1.png\")");

                        //切换设备画面，并重新进入定时画面切换
                        changeSrcPolling(data.nextDeviceId, deviceIndex, data.playingDeviceVoList);
                    }
                });
            }
        }, 10000);
    }

    //获取图片并显示
    function getImagePolling(imageDirectoryName, imageContainDom) {
        $.ajax({
            url: '/prisonWatch/getImagePolling',
            type: "POST",
            async: false,
            data: {imageDirectoryName: imageDirectoryName},
            success: function (data) {
                if (typeof data.imgName != "undefined" && data.imgName != null) {
                    imageContainDom.src = "/Path/" + imageDirectoryName + "/" + data.imgName;
                    // console.log(image.src);
                } else if (data.result == "connectError") {
                    imageContainDom.src = "/images/timg (1).jpg";
                    // deviceNameDom.innerHTML = deviceNameDom.innerText + "连接异常";
                    swal("设备(" + data.alarmDeviceFullName + ")连接异常!");
                    var divObjectId = imageContainDom.parentElement.id;
                    var devicePara = divObjectId.substr(5, 6);
                    if (deviceTimers[devicePara - 1] != 0) {
                        clearInterval(deviceTimers[devicePara - 1]);
                    }
                    deviceTimers[devicePara - 1] = 0;
                    if (pollingState == 0) {
                        deviceStatuss[devicePara - 1] = 1;
                        document.getElementById(divObjectId).getElementsByTagName('input')[1].value = "1";
                        document.getElementById(divObjectId).getElementsByTagName('input')[2].style.backgroundImage = "url(/images/play1.png)";
                    }

                } else if (data.result == "interrupt") {
                    swal("设备(" + data.alarmDeviceFullName + ")连接中断!");
                    var divObjectId = imageContainDom.parentElement.id;
                    var devicePara = divObjectId.substr(5, 6);
                    if (deviceTimers[devicePara - 1] != 0) {
                        clearInterval(deviceTimers[devicePara - 1]);
                    }
                    deviceTimers[devicePara - 1] = 0;
                    deviceStatuss[devicePara - 1] = 1;
                    document.getElementById(divObjectId).getElementsByTagName('input')[1].value = "1";
                    document.getElementById(divObjectId).getElementsByTagName('input')[2].style.backgroundImage = "url(/images/play1.png)";
                }
            }
        });
    }

</script>
</html>


