<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <!-- <script type="text/javascript" src="/node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/node_modules/element-ui/lib/theme-chalk/index.css">
    <script src="/node_modules/element-ui/lib/index.js"></script>
    <script type="text/javascript" src="/dist/vue-drag-infinite.js"></script>-->
</head>
<body>
<!--<div id="app">
    <vue-drag-infinite :json="abc" :name="name" @save="saveJson"></vue-drag-infinite>
</div>
<script type="text/javascript">
    new Vue({
        el:'#app',
        data: function() {
            return {
                name:'新建版式',
                abc:[
                    {
                        style:{
                            width:"50px",
                            height:"50px",
                            fontSize:"14px",
                            color:"#fff",
                            left:"0px",
                            top:"0px",
                            backgroundColor:"#999"
                        },
                        type:'video',
                        test:'test1'
                    }
                ]
            }
        },
        methods:{
            saveJson:function(data){
                console.log(data.length, data[0].type, "save json")
            }
        }
    });
</script>-->
</body>
</html>

