<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/js/jquery.js"></script>

</head>
<body style="background:url(/images/topbg.gif) repeat-x;" onload="startTime();saveUserName();" th:fragment="top">
<div class="topleft">
 <a href="javascript:void(0);"><img src="/images/logo.png" title="系统首页" /></a>
</div>
<ul class="nav">
    <li th:each="rights:${session.rightsList}" th:if="${rights.id eq 1}"><a href="/path/monitorLeft" target="leftFrame" class="selected"><img src="/images/icon04.png" title="设备监控" /><h2>设备监控</h2></a></li>
    <li th:each="rights:${session.rightsList}" th:if="${rights.id eq 2}"><a href="/path/messageLeft" target="leftFrame"><img src="/images/icon02.png" title="版式管理" /><h2>版式管理</h2></a></li>
    <li th:each="rights:${session.rightsList}" th:if="${rights.id eq 3}"><a href="/path/scmLeft"  target="leftFrame"><img src="/images/icon05.png" title="系统配置管理" /><h2>系统配置管理</h2></a></li>
    <li th:each="rights:${session.rightsList}" th:if="${rights.id eq 5}"><a href="/path/journalLeft"  target="leftFrame"><img src="/images/icon01.png" title="预案管理" /><h2>预案管理</h2></a></li>
    <li th:each="rights:${session.rightsList}" th:if="${rights.id eq 6}"><a href="/path/messageAuditLeft" target="leftFrame"><img src="/images/icon03.png" title="报表管理" /><h2>报表管理</h2></a></li>
</ul>
<div id="txt" style="float: left; margin:0 auto; padding-left: 200px;color: white;font-size: 14px;padding-top: 17px;">
</div>
<div id="hms" style="float: left; margin:0 -123px; color: white;font-size: 26px;padding-top: 35px;"></div>
<div class="topright">
    <ul>
        <li><a href="/messageBoard/messageBoardManagement"  target="rightFrame">留言板</a></li>
        <li><a href="/user/exit"  target="_parent">退出</a></li>
    </ul>
    <div class="user">
        <span  id= "userName" style="text-overflow: ellipsis;white-space:nowrap;overflow:hidden; width: 60px;" th:text="${session.user.name}"></span>
        <i></i>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        //顶部导航切换
        $(".nav li a").click(function(){
            $(".nav li a.selected").removeClass("selected")
            $(this).addClass("selected");
        })
    });
    function saveUserName() {
        if(window.localStorage){
            var name = $("#userName").text();
            var sign = false; //当前账户是否已保存的标记
            //循环遍历，判断是否已保存
            if (localStorage.length >= 1) {
                for(var i=0 ; i < localStorage.length; i++){
                    if (localStorage.getItem(localStorage.key(i)) == name){
                        sign = true;
                    }
                    break;
                }
                if(!sign){
                    var timestamp = (new Date()).getTime();
                    localStorage.setItem("name" + timestamp, name);
                }
            }else {
                var timestamp = (new Date()).getTime();
                localStorage.setItem("name" + timestamp, name);
            }

        }
    }
    function startTime(){
        $.ajax({
            url:'/path/getDate',
            type:"POST",
            data:{},
            success:function (data) {
                var strDate=(" "+data.year+"年"+data.month+"月"+data.date+"日");
                var n_day=data.day;
                switch(n_day){
                    case 0:
                    {strDate=strDate+" 星期日 "}break;
                    case 1:
                    {strDate=strDate+" 星期一 "}break;
                    case 2:
                    {strDate=strDate+" 星期二 "}break;
                    case 3:
                    {strDate=strDate+" 星期三 "}break;
                    case 4:
                    {strDate=strDate+" 星期四 "}break;
                    case 5:
                    {strDate=strDate+" 星期五 "}break;
                    case 6:
                    {strDate=strDate+" 星期六 "}break;
                    case 7:
                    {strDate=strDate+" 星期日 "}break;
                }
                //增加时分秒
                var h=data.hour;
                var m=data.minute;
                var s=data.second;
                m=checkTime(m);
                s=checkTime(s);
                var hmsDate=" "+h+":"+m+":"+s;
                document.getElementById('txt').innerHTML=strDate;
                document.getElementById('hms').innerHTML=hmsDate;
                t=setTimeout('startTime()',1000)
            }
        });
    }
    function checkTime(i){
        if (i<10) {i="0" + i}
        return i
    }
</script>
</html>
